/*Start writing sass here*/
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

@include font-face("Advent Pro", "../fonts/adventpro-regular-webfont");
@include font-face("Advent Pro", "../fonts/adventpro-bold-webfont", bold);
@include font-face("Advent Pro", "../fonts/adventpro-light-webfont", 300);

@include font-face("Roboto Condensed", "../fonts/robotocondensed-regular-webfont");
@include font-face("Roboto Condensed", "../fonts/robotocondensed-bold-webfont", bold);
@include font-face("Roboto Condensed", "../fonts/robotocondensed-light-webfont", 300);

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/fontawesome/css/font-awesome.min.css";

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #0d9dff !default;
$brand-success:         #84ce3c !default;
$brand-warning:         #ffec39 !default;
$brand-danger:          #fc483f !default;
$brand-info:            #000072 !default;

$body-bg:               #fff !default;

$text-color:            $gray-base !default;

$link-color:            $gray-base !default;

$link-hover-color:      $gray-base !default;

$link-hover-decoration: none !default;

$font-family-sans-serif:  "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Advent Pro", Georgia, "Times New Roman", Times, serif !default;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

$menu-height: 74px !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}
.font-smart {
    font-family: $font-family-serif;
    font-weight: bold;
}
.primary {color: $brand-primary;}
.danger {color: $brand-danger;}
.warning {color: $brand-warning;}
.success {color: $brand-success;}
body {
  padding-top: $menu-height;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto !important;
}
img {
  opacity: 0;
  @include transition(all 1s ease);
}
img.doneLoading {
  opacity: 1;
}
nav {
    li:hover .dropdown-menu {
      display: block;
    }
    .active {
        a {
            background-color: $gray-lighter;
        }
    }
}
.navbar {
  margin: 0;
    .icon-bar {
        background-color: black;
    }
}
.flexslider {
  border: none;
    .flex-direction-nav {
         a {
            height: 45px;
            color: white;
            text-shadow: none;
            &:before {
                font-size: 40px;
                color: white;
                text-shadow: none;
            }
        }
        .flex-prev {
            left: 20px !important;
            opacity: 1 !important;
        }
        .flex-next {
            right: 20px !important;
            opacity: 1 !important;
        }
    }
    
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
  position: relative;
}
.btn {
    border: none;
    @include transition(all 300ms ease);
    padding: 6px 16px;
    outline: 0 !important;
}
.logo {
    position: absolute;
    left: 20px;
    top: 5px;
    outline: none !important;
    img {
        height: 110px;
        width: auto;
        position: relative;
        z-index: 1; 
    }
}
/*Navbar*/
.menu {
    .nav {
        display: inline-block;
        float: none;
    }
}
.nav {
    @extend .font-smart;
    text-transform: uppercase;
    a {
        color: $gray-dark;
    }
}
.navbar-nav {
    li {
        a {
            padding-bottom: 20px;
            padding-top: 33px;
            @include transition(all 300ms ease);
        }
    }
}

.navbar-white {
    background-color: white;
    height: $menu-height;
    border-bottom: 1px solid #ebebeb;
}

/*Slider*/
.flexslider {
    margin: 0;
}
.text-above {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    @include transform(translateY(-50%));
    h3 {
        @extend .font-smart;
        font-size: 60px;
        color: $brand-info;
        margin: 0;
        text-transform: uppercase;    
        letter-spacing: -3px;
        line-height: 0.9;
    }
    p {
        color: $brand-danger;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .btn {
        text-transform: uppercase;
    }
}

.relative {position: relative;}

.align-center {
    position: absolute;
    top: 50%;
    width: 100%;
    @include transform(translateY(-50%));
}

.banner {
    background-image: url('../img/whitechecks.jpg');
    padding: 90px 0;
    background-size: cover;
    background-attachment: fixed;
    h3 {
        margin: 0 0 10px;
        text-transform: uppercase;
        @extend .font-smart;
        font-size: 40px;
        color: $brand-primary;
    }
    p {
        text-align: justify;
    }
    .btn {
        text-transform: uppercase;
    }
}

.half-image {width: 50%;}
.full-image {width: 100%;}
.m-center {margin: 0 auto;}
.text-upper {text-transform: uppercase;}

.btn-middle-big {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @extend .font-smart;
    color: $gray-base;
    font-size: 30px;
    text-transform: uppercase;
    padding: 8px 15%;
}

.custom-banner {
    .btn {
        position: absolute;
        bottom: 30px;
        padding: 6px 40px;
        left: 50%;
        @include transform(translateX(-50%));
    }
}

/*Footer*/
.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 150%;
    a {
        color: inherit;
    }
}
.footer-bg {
    padding: 50px 0;
}
.big-text {
    font-size: 25px;
}
.medium-text {
    font-size: 16px;
}
.dashed {
    position: relative;
    &:after {
        height: 2px;
        background-color: black;
        content: '';
        width: 245px;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
    }
    .white-bg {
        background-color: white;
        z-index: 2;
        position: relative;
        padding: 0 10px;
    }
}
.box-outlined {
    border: 5px solid;
    padding: 0px 16px;
    display: inline-block;
    width: auto;
    margin: 5px auto;
    font-size: 40px;
    line-height: 120%;
}
.follow-text {
    margin-top: 50px;
}
.social-icon {
    font-size: 25px;
    margin-top: 10px;
    a+a {
        margin-left: 15px;
    }
}
.black-bg {
    background-color: black;
    color: white;
    a {
        color: inherit;
    }
    .dashed {
        &:after {
            background-color: white;
        }
        .white-bg {
            background-color: black;
        }
    }
    .box-outlined {
        border-color: white;
    }
}

.content {
    min-height: 450px;
}

/*Breadcrumb*/
.breadcrumb {
    position: relative;
    background-color: $brand-danger;
    margin: 0 0 70px;
    padding: 0;
    h3 {
        @extend .font-smart;
        text-transform: uppercase;
        color: white;
        margin: 70px 0 25px;
        font-size: 40px;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -20px;
        background-color: darken($brand-danger, 20%);
        height: 20px;
        width: 100%;
        @include clip-path(polygon(0 0, 100% 0%, 100% 100%, 2% 100%));
    }
    .mascot {
        position: absolute;
        width: 200px;
        bottom: -65px;
        right: 0;
        z-index: 9;
    }
}
.content-view {
    padding-bottom: 40px;
    h1, h2, h3, h4, h5, h6 {
        margin: 15px 0 3px;
        color: $brand-danger;
    }
    h4 {
        font-size: 14px;
    }
    p {
        margin: 0 0 10px;
        color: $gray;
        text-align: justify;
    }
    ol, ul {
        margin: 0;
        color: $gray;
        padding: 0 0 0 20px;
        text-align: justify;
        li {
         padding-left: 10px;
        }
    }
    label {
        font-weight: normal;
        color: $gray;
        text-transform: uppercase;
    }
    .form-control {
          color: $input-color;
          border: 1px solid $brand-danger;
          @include box-shadow(inset 0 0px 0px transparent);
    }
    form {
        margin: 20px 0 0;
    }
}

.inline {
    display: inline-block;
    float: none;
}

h4.bold, .bold {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.font-big {
    p {
        font-size: 16px;
        line-height: 180%;
    }
}

.font-tiny {
    margin-top: 20px;
    margin-bottom: 40px;
    p+p {
        margin-top: 10px;
        line-height: 180%;
    }
}

.btn-strong {
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 27px;
}

/*Product Page*/
.site-map {
    margin: 40px 0 10px;
    font-size: 13px;
    text-transform: capitalize;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
        +li {
            margin-left: 5px;
            &:before {
                content: "\f105";
                font-family: 'FontAwesome';
                margin-right: 5px;
                color: $brand-danger;
            }
        }
    }   
    a {
        color: $brand-danger;
    }
}
.page-title {
    h2 {
        margin: 0;
        @extend .font-smart;
        font-size: 26px;
    }
    h1 {
        margin: 0;
        @extend .font-smart;
        font-size: 40px;
    }
}
.filter-bar {
    background-color: black;
    padding: 15px 0;
    margin: 10px 0 20px;
    .arrow {
        &:after {
            content: "\f107";
            font-family: FontAwesome;
            color: white;
            margin-left: 5px;
        }
        +.arrow {
                margin-left: 20px;
        }
    }
    select {
        @include appearance(none);
        color: white;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        outline: none;
    }
}
.product-list {
    min-height: 450px;
    padding: 10px 0 0;
    .image-holder {
        height: 300px;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        &:hover img {
            @include transform(scale(1.1));
        }
        img {
            max-width: 100%;
            max-height: 100%;
            @include transition(all 300ms ease);
        }
    }
    .price {
        font-size: 20px;
    }
    .product-name {
        text-transform: capitalize;
    }
    .product-info {
        margin-bottom: 25px;
    }
}

/*Product View*/
.product-detail {
    margin-top: 40px;
    padding-bottom: 30px;
    .image-sidebar {
        width: auto;
        position: absolute;
        left: 10px;
        top: 0;
        .thumb-img {
            width: 80px;
            height: 80px;
            text-align: center;
            border: 1px solid transparent;
            +.thumb-img {
                margin-top: 10px;
            }
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    .full-img {
        padding-left: 90px;
        height: 400px;
        overflow: hidden;
        text-align: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.right-bar {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $gray-lighter;
    h3 {
        margin: 0;
        line-height: 120%;
    }    
}
.size-chart {
    .list-inline {
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        cursor: pointer;
        margin-bottom: 0;
        .canceled {
            color: lighten($gray-base, 55%);
            text-decoration: line-through;
        }
    }
}
.color-picker {
    margin-top: 10px;
    margin-bottom: 30px;
    .list-inline {
        display: inline-block;
        margin-bottom: 0;
        li {
            +li {
                margin-left: 5px;
            }
        }
    }
    .circle {
        height: 23px;
        width: 23px;
        border-radius: 100%;
        border: 1px solid lighten($gray-base, 55%);
        vertical-align: middle;
        display: inline-block;
    }
    .selected {
        border: 1px solid lighten($gray-base, 55%);
        border-radius: 100%;
        padding: 3px !important;
    }
}

.black {background-color: $gray-base;}
.gray {background-color: lighten($gray-base, 55%);}
.white {background-color: white;}

.btn-gray {
    border-color: lighten($gray-base, 55%);
    color: lighten($gray-base, 55%);
}
.btn-outline {
    background-color: transparent;
    border: 2px solid;
}
.btn-black {
    &.btn-outline {
        &:hover {
            background-color: black;
            color: white;
            border-color: black;
        }
    }
}
.btn-tiny {
    padding: 0 10px;
}
.btn-huge {
    text-transform: uppercase;
    padding: 6px 20px;
    font-size: 20px;
    margin-bottom: 10px    ;
}
.btn-clear {
    background-color: transparent;
}
.very-bold {
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 15px;
    margin-right: 10px;
}
.detail-tab {
    margin-top: 40px;
    .nav-tabs {
        font-family: $font-family-sans-serif;
        border-bottom: 1px solid $nav-tabs-border-color;
      > li {
          margin-bottom: -3px;
          +li {
                    margin-left: 30px;
                }
        > a {
            border: none;
            padding: 0 0 10px 0;
            font-weight: normal;
            border-bottom: 4px solid transparent;
            @include transition(all 300ms ease);
          &:hover {
            border-bottom: 4px solid $brand-primary;
            background: transparent;
          }
        }

        &.active > a {
          &,
          &:hover,
          &:focus {
            color: inherit;
            font-weight: bold;
            background-color: transparent;
            border: none;
            border-bottom: 4px solid $brand-primary;
            cursor: pointer;
          }
        }
      }

      &.nav-justified {
        @extend .nav-justified;
        @extend .nav-tabs-justified;
      }
    }
    .tab-content {
        padding: 15px 0;
        min-height: 200px;
        > * {
          color: $gray;  
        }
        h4 {
            margin: 0;
            font-weight: bold;
            font-size: 14px;
        }

        p {
            margin: 0 0 15px;
        }
    }
}

.mt-20 {
    margin-top: 50px;
}
.view-large {
    background-image: url(../img/large.jpg);
    width: 150px;
    background-size: 100% auto;
    height: 26px;
    background-repeat: no-repeat;
    margin: 10px auto;
    cursor: pointer;
}