/*Start writing sass here*/
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

@include font-face("Advent Pro", "../fonts/adventpro-regular-webfont");
@include font-face("Advent Pro", "../fonts/adventpro-bold-webfont", bold);
@include font-face("Advent Pro", "../fonts/adventpro-light-webfont", 300);

@include font-face("Roboto Condensed", "../fonts/robotocondensed-regular-webfont");
@include font-face("Roboto Condensed", "../fonts/robotocondensed-bold-webfont", bold);
@include font-face("Roboto Condensed", "../fonts/robotocondensed-light-webfont", 300);

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/fontawesome/css/font-awesome.min.css";

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #0d9dff !default;
$brand-success:         #84ce3c !default;
$brand-warning:         #ffec39 !default;
$brand-danger:          #fc483f !default;
$brand-info:            #000072 !default;

$body-bg:               #fff !default;

$text-color:            $gray-base !default;

$link-color:            $gray-base !default;

$link-hover-color:      $gray-base !default;

$link-hover-decoration: none !default;

$font-family-sans-serif:  "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Advent Pro", Georgia, "Times New Roman", Times, serif !default;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

 body {
  padding-top: 76px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 1s ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
.navbar {
  margin: 0;
}
.flexslider {
  border: none;
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
}
.btn {
  border: none;
}
.logo {
    position: absolute;
    left: 40px;
    top: 5px;
    outline: none !important;
    img {
        height: 120px;
        width: auto;   
    }
}
/*Navbar*/
.menu {
    .nav {
        display: inline-block;
        float: none;
    }
}
.nav {
    font-family: $font-family-serif;
    font-weight: bold;
    text-transform: uppercase;
    a {
        color: $gray-dark;
    }
}
.navbar-nav {
    li {
        a {
            padding-bottom: 20px;
            padding-top: 30px;
        }
    }
}

.navbar-white {
    background-color: white;
    height: 76px;
}

/*Slider*/
.flexslider {
    margin: 0;
}
.text-above {
    position: absolute;
    top: 50%;
    right: 35%;
    @include transform(translateY(-50%));
    h3 {
        font-size: 60px;
        color: $brand-info;
        margin: 0;
        text-transform: uppercase;
    }
    p {
        color: $brand-danger;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .btn {
        text-transform: uppercase;
    }
}