<div class="breadcrumb">
  <div class="container relative">
    <h3>{{menutitle}}</h3>
    <img alt="Mr. Fynx" class="mascot" src="img/mrfynx2.png">
  </div>
</div>

<div class="container">
  <div class="content-view">

    <p>With confusion and frustration in the head about the future, but having a flicker of hope and an enormous dream, Nikhil Nandkumar and Kartik Kapoor, backed by Satish Kanungo's exorbitant market knowledge, turned fantasy into reality.
    </p>

    <p>Presenting to you a state-of-the-art online brand called “My Fynx” which aims to draw in diverse clientele from different walks of life craving for customisation and creativity.</p>

    <p>“Customisation” is an art of expression, for which we have developed the “My Fynx Lab”. This is where our clientele can "create and wear" their own customised product with use of our Digital Print Technology which enables them to get the maximum colour output.</p>

    <p>If you haven't yet got Fynxed, what are you waiting for? Have an idea, a photo or a passion to wear something funky, just click on! "</p>

  </div>
</div>
