

<div class="breadcrumb">
  <div class="container relative">
    <h3>{{menutitle}}</h3>
    <img alt="Mr. Fynx" class="mascot" src="img/mrfynx2.png">
  </div>
</div>

<div class="container">
  <div class="content-view">
    <p>At My Fynx, we're good at two things: Having fun and creating designs. Strong believers in a "work hard, play hard" philosophy, perfecting our design and working to create happy customers.</p>

    <p>We make T-shirts, so we wear T-shirts. We have creative customers, so we build a culture of creativity. Around myfynx want awesome. Think. Learn. Innovate. Kick ass. Repeat. Sound like your kind of thing? Write to us at info@myfynx.com</p>
  </div>
</div>
