<div class="breadcrumb">
    <div class="container relative">
        <h3>MY CART</h3>
        <img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="order-table">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th>ITEM</th>
                            <th>COLOUR</th>
                            <th>SIZE</th>
                            <th>QUANTITY</th>
                            <th>SUBTOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center text-bold">
                            <td>
                                <figure>
                                    <img src="img/wishlist.jpg">
                                    <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                </figure>
                            </td>
                            <td>White</td>
                            <td>m</td>
                            <td>1</td>
                            <td>
                                <p>699</p>
                                <button class="btn btn-blue btn-primary">Add to cart</button>
                                <button type="submit" class="btn btn-blue btn-primary">remove</button>
                            </td>
                        </tr>
                        <tr class="text-center text-bold">
                            <td>
                                <figure>
                                    <img src="img/wishlist.jpg">
                                    <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                </figure>
                            </td>
                            <td>White</td>
                            <td>m</td>
                            <td>1</td>
                            <td>
                                <p>699</p>
                                <button type="submit" class="btn btn-blue btn-primary">Add to cart</button>
                                <button type="submit" class="btn btn-blue btn-primary">remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div class="row mar-btm">
        <div class="col-md-offset-8 col-md-4">
            <div class="row">
                <div class="col-xs-6">
                    <div class="category">
                        <p>TOTAL:</p>
                        <p>SHIPPING:</p>
                        <p>GIFT CARD:</p>
                        <p>STORE CREDIT:</p>
                        <p>DISCOUNT:</p>
                        <p>GRAND TOTAL:</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="list ">
                        <p>1398</p>
                        <p>0</p>
                        <p>0</p>
                        <p>0</p>
                        <p>100</p>
                        <p>1399</p>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn-blue btn btn-danger">CONTINUE SHOPPING</button>
            <button type="submit" class="btn-blue btn btn-danger">CHECK OUT</button>
        </div>
    </div>
</div>