<div class="breadcrumb">
	<div class="container relative">
		<h3>CHECKOUT</h3>
		<img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="account">
				<ul>
					<li class="tab-item {{classa}}">STEP 1</li>
					<li class="tab-item {{classb}}">STEP 2</li>
					<li class="tab-item {{classc}}">STEP 3</li>
					<li class="tab-item {{classd}}">STEP 4</li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
</div>
<div class="container">
<div class="alert-postion">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
  </div>
	<div ng-show="tab=='step1'">
		<div class="row">
			<div class="col-md-3">
				<div class="login-form content-view pad0">
					<h4 class="login">LOGIN</h4>
					<div class="form-group">
						<label>EMAIL ADDRESS *</label>
						<input type="email" class="form-control" ng-model="login.email" required>
					</div>
					<div class="form-group">
						<label>PASSWORD *</label>
						<input type="password" class="form-control" ng-model="login.password" required>
					</div>


				</div>
				<div class="row">
					<div class="col-md-6">
						<button class="btn btn-danger mar0 con-btn" ng-click="checkoutLogin()">SIGN IN</button>
					</div>
					<div class="col-md-6 ">
						<div class="class-forget">
							<p>Forgot Password?</p>
						</div>

					</div>
				</div>
				<div class="text-center list">
					<p class="or">OR</p>
					<p>LOGIN VIA</p>
					<div class="button-set">
						<button class="btn btn-facebook pad-btn">
							<i class="fa fa-facebook social-f"></i>
						</button>
						<button class="btn btn-google pad-btn">
							<i class="fa fa-google-plus"></i>
						</button>
						<button class="btn btn-twitter pad-btn">
							<i class="fa fa-twitter"></i>
						</button>
					</div>
				</div>
				<div class="text-center list">
					<p class="or">OR</p>
					<div class="form-group i-check">

						<input type="checkbox" name="vehicle" ng-model="asguest" class="iagree" ng-change="checkoutAsGuest(asguest)">Checkout as guest
					</div>
				</div>
			</div>
			<div class="col-md-offset-2 col-md-3">
				<div class="login-form content-view pad0">
					<h4 class="login">SIGN UP</h4>
					<div class="form-group">
						<label>FIRST NAME</label>
						<input type="text" class="form-control" ng-model="register.firstname">
					</div>
					<div class="form-group">
						<label>LAST NAME</label>
						<input type="text" class="form-control" ng-model="register.lastname">
					</div>
					<div class="form-group">
						<label>EMAIL ADDRESS</label>
						<input type="email" class="form-control" ng-model="register.email">
					</div>
					<div class="form-group">
						<label>PASSWORD<span>(Minimum 6 Characters)</span></label>
						<input type="password" class="form-control" ng-model="register.password">
					</div>
					<div class="form-group">
						<label>CONFIRM PASSWORD</label>
						<input type="password" class="form-control" ng-model="register.cpassword">
					</div>
<!--
					<div class="form-group">
						<label>MOBILE NUMBER <span>(Optional)</span></label>
						<input type="number" class="form-control" ng-model="register.">
					</div>
-->
					<div class="form-group i-check">

						<input type="checkbox" name="vehicle" ng-model="register.accept" value="Bike" class="iagree">I agree with the terms & conditions and privacy policy
					</div>
				</div>
				<div class="text-center list mar-btm">
					<button class="btn btn-danger mar0 con-btn" ng-click="checkoutRegister()">REGISTER</button>
					<p class="or">OR</p>
					<p>LOGIN VIA</p>
					<div class="button-set">
						<button class="btn btn-facebook pad-btn">
							<i class="fa fa-facebook social-f"></i>
						</button>
						<button class="btn btn-google pad-btn">
							<i class="fa fa-google-plus"></i>
						</button>
						<button class="btn btn-twitter pad-btn">
							<i class="fa fa-twitter"></i>
						</button>
					</div>
					<p class="i-check">Already Registerd? Log In</p>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="tab=='step2'">
		<div class="row">
			<div class="col-md-12">
				<div class="order-table">
					<table class="table">
						<thead>
							<tr class="text-center">
								<th>ITEM</th>
								<th>COLOUR</th>
								<th>SIZE</th>
								<th>QUANTITY</th>
								<th>SUBTOTAL</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center text-bold" ng-repeat="cart in allCart">
								<td>
									<figure>
										<img ng-src="{{cart.image | serverimage}}">
										<figcaption>{{cart.options.realname}}</figcaption>
									</figure>
								</td>
								<td>{{cart.options.colorname}}</td>
              <td>{{cart.options.sizename}}</td>
              <td>{{cart.qty}}</td>
								<td>
									<p>{{cart.subtotal}}</p>

								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

		</div>
		<div class="row mar-btm">
			<div class="col-md-offset-8 col-md-4">
				<div class="row">
					<div class="col-xs-6">
						<div class="category">
							<p>TOTAL:</p>
							<p>COUPON:</p>
							<p>GRAND TOTAL:</p>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="list ">
							<p>{{amount}}</p>
							<p>0</p>
							<p>{{amount}}</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-2 col-md-4">
						<div class="text-center">
							<button type="submit" class="btn-blue btn btn-danger text-center" ng-click="tabchange('step3',3)">NEXT</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="tab=='step3'">
		<div class="row">
			<div class="col-md-12 content-view paddbtm" style="padding-left:15px;">
				<h4 class="login">YOUR DETAILS</h4>
			</div>

		</div>
		<div class="row content-view">
			<div class="col-md-3">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="checkout.name" placeholder="FIRST NAME">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="checkout.lastname" placeholder="LAST NAME">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="checkout.phone" placeholder="MOBILE NUMBER ">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<input type="email" class="form-control" ng-model="checkout.email" placeholder="EMAIL ADDRESS">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="login-form content-view pad0">
					<h4 class="login">BILLING ADDRESS</h4>
					<div class="form-group">
						<label>LINE 1*</label>
						<input type="text" ng-model="checkout.billingline1" class="form-control">
					</div>
					<div class="form-group">
						<label>LINE 2</label>
						<input type="text" ng-model="checkout.billingline2" class="form-control">
					</div>
					<div class="form-group">
						<label>LINE 3</label>
						<input type="text" ng-model="checkout.billingline3" class="form-control">
					</div>
					<div class="form-group">
						<label>CITY *</label>
						<input type="text" ng-model="checkout.billingcity" class="form-control">
					</div>
					<div class="form-group">
						<label>PINCODE *</label>
						<input type="text" ng-model="checkout.billingpincode" class="form-control">
					</div>
					<div class="form-group">
						<label>STATE</label>
						<input type="text" class="form-control" ng-model="checkout.billingstate">
<!--
						<div class="fynx-select">
							<select>
								<option value=""></option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>
							<span class="only-border"></span>
						</div>
-->
					</div>
					<div class="form-group">
						<label>COUNTRY</label>
						<input type="text" class="form-control" ng-model="checkout.billingcountry">
					</div>


				</div>
			</div>
			<div class="col-md-offset-2 col-md-3">
				<div class="login-form content-view pad0">
					<h4 class="login">SHIPPING ADDRESS</h4>
					<div class="form-group i-check">
						<input type="checkbox" class="iagree" ng-model="sameasbilling" ng-change="sameAsBilling(sameasbilling)">Same as billing address
					</div>
					<div class="form-group">
						<label>LINE 1*</label>
						<input type="text" ng-model="checkout.shippingline1" class="form-control">
					</div>
					<div class="form-group">
						<label>LINE 2</label>
						<input type="text" ng-model="checkout.shippingline2" class="form-control">
					</div>
					<div class="form-group">
						<label>LINE 3</label>
						<input type="text" ng-model="checkout.shippingline3" class="form-control">
					</div>
					<div class="form-group">
						<label>CITY *</label>
						<input type="text" ng-model="checkout.shippingcity" class="form-control">
					</div>
					<div class="form-group">
						<label>PINCODE *</label>
						<input type="text" ng-model="checkout.shippingpincode" class="form-control">
					</div>
					<div class="form-group">
						<label>STATE</label>
						<input type="text" ng-model="checkout.shippingstate" class="form-control">
<!--
						<div class="fynx-select">
							<select>
								<option value=""></option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>
							<span class="only-border"></span>
						</div>
-->
					</div>
					<div class="form-group">
						<label>COUNTRY</label>
						<input type="text" ng-model="checkout.shippingcountry" class="form-control">
					</div>


				</div>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-12 content-view paddbtm m-45" style="padding-left:15px;">
				<h4 class="login">PAYMENT METHOD</h4>
			</div>

		</div>
		<div class="row content-view paddbtm">
			<div class="col-md-3">
				<div class="form-group radio-cust">

					<input type="radio" id="radio01" name="radio" />
					<label for="radio01"><span></span>CREDIT CARD</label>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group radio-cust">
					<input type="radio" id="radio02" name="radio" />
					<label for="radio02"><span></span>DEBIT CARD</label>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group radio-cust">
					<input type="radio" id="radio03" name="radio" />
					<label for="radio03"><span></span>NET BANKING</label>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group radio-cust">
					<input type="radio" id="radio04" name="radio" />
					<label for="radio04"><span></span>CASH ON DELIVERY</label>
				</div>
			</div>
		</div> -->
		<div class="row">
			<div class="text-center">
				<button class="btn btn-danger m-30 con-btn" ng-click="tabchange('step4',4)">CONTINUE</button>
			</div>
		</div>
		<div class="row mar-btm">
			<div class="col-md-6">
				<div class="payment list">
					<p>We Accept:</p>
					<ul style="display: inline-block;">
						<li><img src="img/visa.png"></li>
						<li><img src="img/card.png"></li>
						<li><img src="img/meastro.png"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
