<section class="banner comingsoon" auto-height>
	<div class="container" style="max-width: 840px;">
		<div class="img-hold">
			<img src="img/cominfynx.png" alt="" class="img-responsive m-center">
		</div>
		<div class="white-bg">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<h3 class="primary">Coming soon</h3>
					<div class="content-view">
						<p>Hand us your email ID so we can stalk you once we go live!</p>
						<form ng-submit="subscribe(email);" class="form-inline">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Enter Your Email Address" ng-model="email" required>
								<button type="submit" class="submit form-control btn btn-danger">Submit</button>
							</div>
						</form>
					</div>
					<div class="logo-img">
						<img src="img/logo.png" alt="" class="img-responsive m-center">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
