<div class="breadcrumb">
    <div class="container relative">
        <h3>{{menutitle}}</h3>
        <img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
    </div>
</div>


<div class="container">
    <div class="content-view">
        <div class="row font-big">
            <div class="col-md-6">
                <h4 class="bold">ADDRESS:</h4>
                <p>My Fynx
                    <br> Manak House, 2nd Floor, 44, C.P Tank road, Mumbai 400004
                    <br> Tel no.: 022-66205555 / 23866868 / 663934393 / 66109808
                    <br> Fax No.: 022 -23878784</p>
            </div>
            <div class="col-md-6"></div>
        </div>

        <div class="font-tiny">
            <p>If you would like to give us any feedback or have any queries, please get in touch with us. We want to provide you with the best service possible.</p>
            <p><span class="danger">Customer Care:</span> care@Myfynx.com
                <br> <span class="danger">General Enquiries:</span> info@Myfynx.com </p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4 class="bold">Write to us:</h4>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name*</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone No</label>
                                <input type="tel" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email Address*</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button class="btn btn-danger btn-strong">Submit</button>
                </form>

            </div>
        </div>

    </div>
</div>