
<div class="breadcrumb">
    <div class="container relative">
        <h3>Welcome to the FYNX lab</h3>
        <img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
    </div>
</div>
<div class="container">
  <hr>
  <div class="product-detail">
    <div class="row">
      <div class="col-md-5">
        <img class="img-responsive" src="img/tee.jpg">
      </div>

      <div class="col-md-7">
        <div class="detail-tab customize">
          <uib-tabset>
            <uib-tab>
              <uib-tab-heading>
                <div class="icon-font">
                  <i class="flaticon flaticon-t-shirt"></i>
                </div>
                <div class="tab-title">Edit Product</div>
              </uib-tab-heading>
            </uib-tab>
            <uib-tab>
              <uib-tab-heading>
                <div class="icon-font">
                  <i class="flaticon flaticon-camera"></i>
                </div>
                <div class="tab-title">Add Image</div>
              </uib-tab-heading>
            </uib-tab>
            <uib-tab>
              <uib-tab-heading>
                <div class="icon-font">
                  <i class="not-icon">aA</i>
                </div>
                <div class="tab-title">Add Text</div>
              </uib-tab-heading>
            </uib-tab>
            <uib-tab>
              <uib-tab-heading>
                <div class="icon-font">
                  <i class="fa fa-rupee"></i>
                </div>
                <div class="tab-title">Buy</div>
              </uib-tab-heading>
            </uib-tab>
          </uib-tabset>
        </div>

      </div>
    </div>
  </div>
</div>
