<div class="breadcrumb">
	<div class="container relative">
		<h3>Welcome to the FYNX</h3>
		<img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
	</div>

</div>
<div class="container">
	<div class="alert-postion">
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
	</div>
	<hr>
	<div class="product-detail">
		<div class="text-center" ng-show="outofstock">
			Item is out of stock
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="custom-img">
					<div img-zoomer zoom="{{basezoom}}" class="zoom-holder relative">

						<div ng-show="isfront">
							<img class="img-responsive m-center" ng-src="{{custom.frontSrc}}">
							<div class="on-img shirtcanvas" style="top:309px;width:30%" ng-if="filter.image.image!=''">
								<div class="canvasitem" dragcanvasitem>
									<img class="img-responsive m-center" ng-src="{{filter.image.image | serverimage}}">
								</div>
								<div class="canvasitem" dragcanvasitem ng-repeat="txt in filter.custom track by $index">
									<span id="example{{txt.id}}" name="distext" ng-style="txt.css" ng-bind="txt.text" ng-if="$index==0 || $index==1"></span>
									<span class="badge red ab" ng-if="txt.text!=''&&($index==0 || $index==1)" ng-click="txt.text = ''">X</span>
								</div>
							</div>
						</div>
						<div ng-show="!isfront">
							<img class="img-responsive m-center" ng-src="{{custom.backSrc}}">
							<div class="on-img shirtcanvas" style="top:309px;width:30%">
								<div class="canvasitem" dragcanvasitem>
									<img class="img-responsive m-center" ng-src="{{filter.image.image1 | serverimage}}">
								</div>
								<div class="canvasitem" dragcanvasitem ng-repeat="txt in filter.custom track by $index">
									<span id="example{{txt.id}}" name="distext" ng-style="txt.css" ng-bind="txt.text" ng-if="$index==2 || $index==3"></span>
									<span class="badge red ab" ng-if="txt.text!=''&&($index==2 || $index==3)" ng-click="txt.text = ''">X</span>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="vertical icon">

					<div class="icon-inner text-center reset-zoom" ng-click="isfront = !isfront;">
						<i class="flaticon flaticon-t-shirt-o"></i>
						<p ng-show="isfront">Back</p>
						<p ng-show="!isfront">Front</p>
					</div>

					<div class="icon-inner text-center zoom-img">
						<i class="flaticon flaticon-zoom"></i>
						<p>Zoom</p>
					</div>

					<div class="icon-inner text-center reset-zoom">
						<i class="flaticon flaticon-cross"></i>
						<p class="margin-zero">Reset</p>
					</div>

				</div>

				<div class="social-share text-center">
					<h5 class="head"> Share your Creation On:</h5>
					<div class="button-set">
						<button class="btn btn-facebook">
							<i class="fa fa-facebook"></i>
						</button>
						<button class="btn btn-twitter">
							<i class="fa fa-twitter"></i>
						</button>
						<button class="btn btn-google">
							<i class="fa fa-google-plus"></i>
						</button>
					</div>
				</div>
			</div>

			<div class="col-md-7" ng-hide="outofstock">
				<h3 class="danger">FUNK IT UP</h3>
				<div class="detail-tab customize">
					<uib-tabset>
						<uib-tab active="tab.editpro">
							<uib-tab-heading>
								<div class="icon-font">
									<i class="flaticon flaticon-t-shirt"></i>
								</div>
								<div class="tab-title">Edit Product</div>
							</uib-tab-heading>
							<div class="edit_content">
								<p>{{images.name}}</p>
								<!-- <span ng-if="size[0]">: {{size[0].name}}</span> <span ng-if="sizelength"> to </span>  <span ng-if="sizelength">{{sizelength.name}}</span> <b class="b-color" ng-click="sizeChart();">SIZE CHART</b> -->
								<p>SIZES:
									<span>S,M,L,XL,XXL,XXXL</span>
									<span class="size-chart"><a href="" class="danger bold" ng-click="sizeChart();">Size Chart</a></span>
								</p>
								<p>FABRIC:
									<span>100% Pre-Shrunk Cotton</span>
								</p>
								<p class="b-color" ng-init="showMore = false;" ng-click="showMore = !showMore;">
									<span ng-show="showMore" class="bold">-</span>
									<span ng-show="!showMore" class="bold">+</span> SHOW
									<span ng-show="showMore" class="bold">LESS</span>
									<span ng-show="!showMore" class="bold">MORE</span> INFORMATION</p>
								<p ng-show="showMore" class="no-transform">
									<span ng-bind-html="images.description"></span>
								</p>


								<div class="color-pick">
									<p>CHOOSE COLOURS</p>
									<ul>
										<li ng-repeat="col in color" ng-click="makeactive(col)" class="{{col.class}}">
											<div class="color-bx" ng-style="{'background':col.name}"></div>
										</li>


									</ul>
									<button class="btn btn-danger con-btn" ng-click="tabchange(2)">CONTINUE</button>
								</div>
							</div>
						</uib-tab>
						<uib-tab active="tab.addimage">
							<uib-tab-heading ng-click="tabchange(2)">
								<div class="icon-font">
									<i class="flaticon flaticon-t-shirt"></i>
								</div>
								<div class="tab-title">Front</div>
							</uib-tab-heading>
							<div class="edit_content">

								<div class="front-text">
									<div class="row">
										<div class="col-md-7">
											<div class="front">
												<div class="edit_content">
													<p>ENTER YOUR TEXT BELOW</p>
												</div>
												<div class="form-group">
													<textarea type="text" class="form-control" rows="5" ng-click="firstTextSetting=true;secondTextSetting=false;thirdTextSetting=false;fourthTextSetting=false" ng-model="filter.custom[0].text" ng-change="textchange()"></textarea>
												</div>
											</div>
										</div>
										<div class="col-md-5">
											<div class="edit_content front">
												<p>Font</p>
											</div>
											<div class="fynx-select">
												<div class="selected-text" style="font-family: '{{selectedFont}}'; font-weight: 700;" ng-click="showSelecter(0);">
													{{selectedFont}}
												</div>

												<ul class="options list-unstyled" ng-show="showSelect">
													<li ng-repeat="font in fonts" ng-click="fontSelect(font.family,0);" style="font-family: '{{font.family}}'; font-weight: 700;">
														{{font.family}}
													</li>
												</ul>

												<span class="only-border"></span>
											</div>

											<div class="color-pick">
												<ul class="m-minus">
													<li ng-repeat="col in colors track by $index" class="m-17" ng-click="changeColor($index,0);">
														<p class="class-p">{{col.name}}</p>
														<div class="color-bx text-center m-auto" ng-style="{'background':col.color}"></div>
													</li>
												</ul>
											</div>

										</div>
										<div class="color-second">

											<!--//color-->

											<div class="color-show" ng-show="first">
												<div class="row">
													<div class="col-md-12">
														<div class="color-bxs">
															<div class="close-btn pull-right" ng-click="closeandshowsize();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="colorText(col.color,1);colors[0].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>
																</ul>

															</div>
															<div class="text-line p70">
																<p ng-click="colorText(col.color='black',1)">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>

														</div>
													</div>
												</div>
											</div>


											<!--//strok-->

											<div class="color-show" ng-show="second">
												<div class="row">
													<div class="col-md-12">
														<div class="strok ">
															<div class="close-btn pull-right" ng-click="closeandshowsize();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="strokeText(col,0);colors[1].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>


																</ul>

															</div>
															<div class="text-line ">
																<p ng-click="strokeRemoveText()">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>
															<div class="text-line">


																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Weight</p>
																	</div>
																	<div class="col-xs-8">

																		<div id="demo" data-range-slider data-floor="0.00" data-ceiling="5.00" data-step="0.1" data-precision="2" data-highlight="left" data-ng-model="items[3].value"></div>

																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items[3].value}}</p>
																	</div>
																</div>

																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Offset</p>
																	</div>
																	<div class="col-xs-8 text-center">
																		<div data-range-slider data-floor="100" data-ceiling="1000" data-step="50" data-precision="2" data-highlight="left" data-ng-model="item[4].value"></div>
																		<!-- <button class="text-center btn btn-danger m-30 con-btn">REMOVE STROKE</button> -->
																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items[4].value}}</p>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>

											<!--//shadow-->
											<div class="color-show" ng-show="third">
												<div class="row">
													<div class="col-md-12">
														<div class="shadow ">
															<div class="close-btn pull-right" ng-click="closeandshowsize();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="shadowText(col,0);colors[2].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>


																</ul>

															</div>
															<div class="text-line ">
																<p ng-click="shadowRemoveText()">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>
															<div class="text-line" ng-if="shadowColor!=''">
																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Distance</p>
																	</div>
																	<div class="col-xs-8">
																		<div data-range-slider data-floor="-75" data-ceiling="75" data-step="1" data-precision="2" data-highlight="left" data-ng-model="items[0].value"></div>

																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items[0].value}}</p>
																	</div>
																</div>

																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Angle</p>
																	</div>
																	<div class="col-xs-8 text-center">
																		<div data-range-slider data-floor="1" data-ceiling="360" data-step="1" data-precision="2" data-highlight="left" data-ng-model="items[1].value"></div>
																		<!-- <button class="text-center btn btn-danger m-30 con-btn">REMOVE STROKE</button> -->
																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items[1].value}}</p>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
											<!--//end-->
										</div>

									</div>

									<div class="row" ng-show="firstTextSetting">
										<div class="col-md-12">
											<div class="slider-show">
												<div class="rang-slider">
													<div class="ul-class">
														<div class="row" ng-repeat="des in design.design">
															<div class="col-xs-2">
																<p class="mar0 f-size">{{des.name}}</p>
															</div>
															<div class="col-xs-8">

																<div data-range-slider data-floor="{{des.from}}" data-ceiling="{{des.to}}" data-step="{{des.step}}" data-precision="2" data-highlight="left" data-ng-model="des.value"></div>

															</div>
															<div class="col-xs-2">
																<p class="range-value">{{des.value}}</p>
															</div>
														</div>
														<div class="row">
															<div class="col-md-3 col-xs-12">
																<div class="edit_content mt-10 front">
																	<p>JUSTIFY</p>
																</div>
																<div class="fynx-select txt-img">
																	<select ng-change="changeJustify(selectedJustify)" ng-model="selectedJustify">
																		<option value="center">Center</option>
																		<option value="left">Left</option>
																		<option value="right">Right</option>
																	</select>
																	<span class="only-border"></span>
																</div>
															</div>
															<div class="col-md-6">
																<div class="edit_content mt-10 front">
																	<p class="text-uppercase ml-30">Layer Order</p>
																</div>
																<div class="layer-buttons">
																	<button class="btn bring-front bod-x ml-30" ng-click="bringForward(filter.custom[0])"><i class="fa fa-angle-up"></i> Bring Forward</button>
																	<button class="btn bring-back bod-x" ng-click="sendBackward(filter.custom[0])"><i class="fa fa-angle-down"></i> Send Backward</button>
																</div>
															</div>
															<div class="col-md-3">
																<div class="edit_content mt-10 front">
																	<p class="text-uppercase">Alignment</p>
																</div>
																<div class="align-buttons">
																	<button class="btn bod-x">Align to center</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="front-text">
									<div class="row">
										<div class="col-md-7">
											<div class="front">
												<div class="edit_content">
													<p>ENTER YOUR TEXT BELOW</p>
												</div>
												<div class="form-group">
													<textarea type="text" class="form-control" rows="5" ng-click="secondTextSetting=true;firstTextSetting=false;thirdTextSetting=false;fourthTextSetting=false" ng-model="filter.custom[1].text" ng-change="textchange()"></textarea>
												</div>
											</div>
										</div>
										<div class="col-md-5">
											<div class="edit_content front">
												<p>Font</p>
											</div>
											<div class="fynx-select">
												<div class="selected-text" style="font-family: '{{selectedFont1}}'; font-weight: 700;" ng-click="showSelecter(1);">
													{{selectedFont1}}
												</div>

												<ul class="options list-unstyled" ng-show="showSelect1">
													<li ng-repeat="font in fonts" ng-click="fontSelect(font.family,1);" style="font-family: '{{font.family}}'; font-weight: 700;">
														{{font.family}}
													</li>
												</ul>

												<span class="only-border"></span>
											</div>

											<div class="color-pick">
												<ul class="m-minus">
													<li ng-repeat="col in colors1 track by $index" class="m-17" ng-click="changeColor($index,1);">
														<p class="class-p">{{col.name}}</p>
														<div class="color-bx text-center m-auto" ng-style="{'background':col.color}"></div>
													</li>
												</ul>
											</div>

										</div>
										<div class="color-second">

											<!--//color-->

											<div class="color-show" ng-show="first1">
												<div class="row">
													<div class="col-md-12">
														<div class="color-bxs">
															<div class="close-btn pull-right" ng-click="closeandshowsize1();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="colorText(col.color,2);colors1[0].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>
																</ul>

															</div>
															<div class="text-line p70">
																<p ng-click="colorText(col.color='black',2)">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>

														</div>
													</div>
												</div>
											</div>


											<!--//strok-->

											<div class="color-show" ng-show="second1">
												<div class="row">
													<div class="col-md-12">
														<div class="strok ">
															<div class="close-btn pull-right" ng-click="closeandshowsize1();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="strokeText(col,1);colors1[1].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>


																</ul>

															</div>
															<div class="text-line ">
																<p ng-click="strokeRemoveText()">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>
															<div class="text-line">


																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Weight</p>
																	</div>
																	<div class="col-xs-8">

																		<div id="demo" data-range-slider data-floor="0.00" data-ceiling="5.00" data-step="0.1" data-precision="2" data-highlight="left" data-ng-model="items1[3].value"></div>

																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items1[3].value}}</p>
																	</div>
																</div>

																<div class="row">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Offset</p>
																	</div>
																	<div class="col-xs-8 text-center">
																		<div data-range-slider data-floor="100" data-ceiling="1000" data-step="50" data-precision="2" data-highlight="left" data-ng-model="item[4].value"></div>
																		<!-- <button class="text-center btn btn-danger m-30 con-btn">REMOVE STROKE</button> -->
																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items[4].value}}</p>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>

											<!--//shadow-->
											<div class="color-show" ng-show="third1">
												<div class="row">
													<div class="col-md-12">
														<div class="shadow ">
															<div class="close-btn pull-right" ng-click="closeandshowsize1();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="shadowText(col,1);colors1[2].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>


																</ul>

															</div>
															<div class="text-line ">
																<p ng-click="shadowRemoveText()">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>
															<div class="text-line" ng-if="shadowColor1!=''">
																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Distance</p>
																	</div>
																	<div class="col-xs-8">
																		<div data-range-slider data-floor="-75" data-ceiling="75" data-step="1" data-precision="2" data-highlight="left" data-ng-model="items1[0].value"></div>

																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items1[0].value}}</p>
																	</div>
																</div>

																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Angle</p>
																	</div>
																	<div class="col-xs-8 text-center">
																		<div data-range-slider data-floor="1" data-ceiling="360" data-step="1" data-precision="2" data-highlight="left" data-ng-model="items1[1].value"></div>
																		<!-- <button class="text-center btn btn-danger m-30 con-btn">REMOVE STROKE</button> -->
																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items1[1].value}}</p>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
											<!--//end-->
										</div>

									</div>

									<div class="row" ng-show="secondTextSetting">
										<div class="col-md-12">
											<div class="slider-show">
												<div class="rang-slider">
													<div class="ul-class">
														<div class="row" ng-repeat="des in design.design1">
															<div class="col-xs-2">
																<p class="mar0 f-size">{{des.name}}</p>
															</div>
															<div class="col-xs-8">

																<div data-range-slider data-floor="{{des.from}}" data-ceiling="{{des.to}}" data-step="{{des.step}}" data-precision="2" data-highlight="left" data-ng-model="des.value"></div>

															</div>
															<div class="col-xs-2">
																<p class="range-value">{{des.value}}</p>
															</div>
														</div>
														<div class="row">
															<div class="col-md-3 col-xs-12">
																<div class="edit_content mt-10 front">
																	<p>JUSTIFY</p>
																</div>
																<div class="fynx-select txt-img">
																	<select ng-change="changeJustify(selectedJustify)" ng-model="selectedJustify">
																		<option value="center">Center</option>
																		<option value="left">Left</option>
																		<option value="right">Right</option>
																	</select>
																	<span class="only-border"></span>
																</div>
															</div>
															<div class="col-md-6">
																<div class="edit_content mt-10 front">
																	<p class="text-uppercase ml-30">Layer Order</p>
																</div>
																<div class="layer-buttons">
																	<button class="btn bring-front bod-x ml-30" ng-click="bringForward(filter.custom[1])"><i class="fa fa-angle-up"></i> Bring Forward</button>
																	<button class="btn bring-back bod-x" ng-click="sendBackward(filter.custom[1])"><i class="fa fa-angle-down"></i> Send Backward</button>
																</div>
															</div>
															<div class="col-md-3">
																<div class="edit_content mt-10 front">
																	<p class="text-uppercase">Alignment</p>
																</div>
																<div class="align-buttons">
																	<button class="btn bod-x">Align to center</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="add-image">
									<p>ADD IMAGE TO YOUR TSHIRT</p>
									<button class="btn btn-danger mar0 con-btn" ng-click="imgUpload();">UPLOAD IMAGE</button>
								</div>
							</div>
							<button class="btn btn-primary con-btn" ng-click="previewDesign();">PREVIEW DESIGN</button>
							<button class="btn btn-danger con-btn" ng-click="tabchange(3)">ADD TO DESIGN</button>
						</uib-tab>
						<uib-tab active="tab.addtext">
							<uib-tab-heading ng-click="tabchange(3)">
								<div class="icon-font">
									<i class="flaticon flaticon-t-shirt"></i>
								</div>
								<div class="tab-title">Back</div>
							</uib-tab-heading>
							<div class="add-input edit_content">

								<div class="front-text">
									<div class="row">
										<div class="col-md-7">
											<div class="front">
												<div class="edit_content">
													<p>ENTER YOUR TEXT BELOW</p>
												</div>
												<div class="form-group">
													<textarea type="text" class="form-control" rows="5" ng-click="firstTextSetting=false;secondTextSetting=false;thirdTextSetting=true;fourthTextSetting=false" ng-model="filter.custom[2].text" ng-change="textchange1()"></textarea>
												</div>
											</div>
										</div>
										<div class="col-md-5">
											<div class="edit_content front">
												<p>Font</p>
											</div>
											<div class="fynx-select">
												<div class="selected-text" style="font-family: '{{selectedFont2}}'; font-weight: 700;" ng-click="showSelecter(2);">
													{{selectedFont2}}
												</div>

												<ul class="options list-unstyled" ng-show="showSelect2">
													<li ng-repeat="font in fonts" ng-click="fontSelect(font.family,2);" style="font-family: '{{font.family}}'; font-weight: 700;">
														{{font.family}}
													</li>
												</ul>

												<span class="only-border"></span>
											</div>

											<div class="color-pick">
												<ul class="m-minus">
													<li ng-repeat="col in colors1 track by $index" class="m-17" ng-click="changeColor($index, 2);">
														<p class="class-p">{{col.name}}</p>
														<div class="color-bx text-center m-auto" ng-style="{'background':col.color}"></div>
													</li>
												</ul>
											</div>

										</div>
										<div class="second">

											<!--//color-->

											<div class="color-show" ng-show="first2">
												<div class="row">
													<div class="col-md-12">
														<div class="color-bxs">
															<div class="close-btn pull-right" ng-click="closeandshowsize2();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="colorText(col.color,3);colors[0].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>
																</ul>

															</div>
															<div class="text-line p70">
																<p ng-click="colorText(col.color='black',3)">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>

														</div>
													</div>
												</div>
											</div>


											<!--//strok-->


											<div class="color-show" ng-show="second2">
												<div class="row">
													<div class="col-md-12">
														<div class="strok ">
															<div class="close-btn pull-right" ng-click="closeandshowsize2();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="strokeText(col,2);colors2[1].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>


																</ul>

															</div>
															<div class="text-line ">
																<p ng-click="strokeRemoveText()">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>
															<div class="text-line">


																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Weight</p>
																	</div>
																	<div class="col-xs-8">

																		<div id="demo" data-range-slider data-floor="0.00" data-ceiling="5.00" data-step="0.1" data-precision="2" data-highlight="left" data-ng-model="items2[3].value"></div>

																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items2[3].value}}</p>
																	</div>
																</div>

																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Offset</p>
																	</div>
																	<div class="col-xs-8 text-center">
																		<div data-range-slider data-floor="100" data-ceiling="1000" data-step="50" data-precision="2" data-highlight="left" data-ng-model="item[4].value"></div>
																		<!-- <button class="text-center btn btn-danger m-30 con-btn">REMOVE STROKE</button> -->
																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items[4].value}}</p>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>

											<!--//shadow-->
											<div class="color-show" ng-show="third2">
												<div class="row">
													<div class="col-md-12">
														<div class="shadow ">
															<div class="close-btn pull-right" ng-click="closeandshowsize2();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="shadowText(col,2);colors2[2].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>


																</ul>

															</div>
															<div class="text-line ">
																<p ng-click="shadowRemoveText()">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>
															<div class="text-line" ng-if="shadowColor2!=''">
																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Distance</p>
																	</div>
																	<div class="col-xs-8">
																		<div data-range-slider data-floor="-75" data-ceiling="75" data-step="1" data-precision="2" data-highlight="left" data-ng-model="items2[0].value"></div>

																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items2[0].value}}</p>
																	</div>
																</div>

																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Angle</p>
																	</div>
																	<div class="col-xs-8 text-center">
																		<div data-range-slider data-floor="1" data-ceiling="360" data-step="1" data-precision="2" data-highlight="left" data-ng-model="items2[1].value"></div>
																		<!-- <button class="text-center btn btn-danger m-30 con-btn">REMOVE STROKE</button> -->
																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items2[1].value}}</p>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
											<!--//end-->
										</div>

									</div>

									<div class="row" ng-show="thirdTextSetting">
										<div class="col-md-12">
											<div class="slider-show">
												<div class="rang-slider">
													<div class="ul-class">
														<div class="row" ng-repeat="des in design.design2">
															<div class="col-xs-2">
																<p class="mar0 f-size">{{des.name}}</p>
															</div>
															<div class="col-xs-8">

																<div data-range-slider data-floor="{{des.from}}" data-ceiling="{{des.to}}" data-step="{{des.step}}" data-precision="2" data-highlight="left" data-ng-model="des.value"></div>

															</div>
															<div class="col-xs-2">
																<p class="range-value">{{des.value}}</p>
															</div>
														</div>
														<div class="row">
															<div class="col-md-3 col-xs-12">
																<div class="edit_content mt-10 front">
																	<p>JUSTIFY</p>
																</div>
																<div class="fynx-select txt-img">
																	<select ng-change="changeJustify(selectedJustify)" ng-model="selectedJustify">
																		<option value="center">Center</option>
																		<option value="left">Left</option>
																		<option value="right">Right</option>
																	</select>
																	<span class="only-border"></span>
																</div>
															</div>
															<div class="col-md-6">
																<div class="edit_content mt-10 front">
																	<p class="text-uppercase ml-30">Layer Order</p>
																</div>
																<div class="layer-buttons">
																	<button class="btn bring-front bod-x ml-30" ng-click="bringForward(filter.custom[2])"><i class="fa fa-angle-up"></i> Bring Forward</button>
																	<button class="btn bring-back bod-x" ng-click="sendBackward(filter.custom[2])"><i class="fa fa-angle-down"></i> Send Backward</button>
																</div>
															</div>
															<div class="col-md-3">
																<div class="edit_content mt-10 front">
																	<p class="text-uppercase">Alignment</p>
																</div>
																<div class="align-buttons">
																	<button class="btn bod-x">Align to center</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="front-text">
									<div class="row">
										<div class="col-md-7">
											<div class="front">
												<div class="edit_content">
													<p>ENTER YOUR TEXT BELOW</p>
												</div>
												<div class="form-group">
													<textarea type="text" class="form-control" rows="5" ng-click="firstTextSetting=false;secondTextSetting=false;thirdTextSetting=false;fourthTextSetting=true" ng-model="filter.custom[3].text" ng-change="textchange1()"></textarea>
												</div>
											</div>
										</div>
										<div class="col-md-5">
											<div class="edit_content front">
												<p>Font</p>
											</div>
											<div class="fynx-select">
												<div class="selected-text" style="font-family: '{{selectedFont3}}'; font-weight: 700;" ng-click="showSelecter(3);">
													{{selectedFont3}}
												</div>

												<ul class="options list-unstyled" ng-show="showSelect3">
													<li ng-repeat="font in fonts" ng-click="fontSelect(font.family,3);" style="font-family: '{{font.family}}'; font-weight: 700;">
														{{font.family}}
													</li>
												</ul>

												<span class="only-border"></span>
											</div>

											<div class="color-pick">
												<ul class="m-minus">
													<li ng-repeat="col in colors track by $index" class="m-17" ng-click="changeColor($index,3);">
														<p class="class-p">{{col.name}}</p>
														<div class="color-bx text-center m-auto" ng-style="{'background':col.color}"></div>
													</li>
												</ul>
											</div>

										</div>
										<div class="second">

											<!--//color-->

											<div class="color-show" ng-show="first3">
												<div class="row">
													<div class="col-md-12">
														<div class="color-bxs">
															<div class="close-btn pull-right" ng-click="closeandshowsize3();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="colorText(col.color,4);colors[0].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>
																</ul>

															</div>
															<div class="text-line p70">
																<p ng-click="colorText(col.color='black',4)">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>

														</div>
													</div>
												</div>
											</div>


											<!--//strok-->


											<div class="color-show" ng-show="second3">
												<div class="row">
													<div class="col-md-12">
														<div class="strok ">
															<div class="close-btn pull-right" ng-click="closeandshowsize3();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="strokeText(col,3);colors3[1].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>


																</ul>

															</div>
															<div class="text-line ">
																<p ng-click="strokeRemoveText()">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>
															<div class="text-line">


																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Weight</p>
																	</div>
																	<div class="col-xs-8">

																		<div id="demo" data-range-slider data-floor="0.00" data-ceiling="5.00" data-step="0.1" data-precision="2" data-highlight="left" data-ng-model="items3[3].value"></div>

																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items3[3].value}}</p>
																	</div>
																</div>

																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Offset</p>
																	</div>
																	<div class="col-xs-8 text-center">
																		<div data-range-slider data-floor="100" data-ceiling="1000" data-step="50" data-precision="2" data-highlight="left" data-ng-model="item[4].value"></div>
																		<!-- <button class="text-center btn btn-danger m-30 con-btn">REMOVE STROKE</button> -->
																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items[4].value}}</p>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>

											<!--//shadow-->
											<div class="color-show" ng-show="third3">
												<div class="row">
													<div class="col-md-12">
														<div class="shadow ">
															<div class="close-btn pull-right" ng-click="closeandshowsize3();">
																<img src="img/close.jpg">
															</div>
															<div class="color-pick mar">

																<ul>
																	<li ng-repeat="col in colour" ng-click="shadowText(col,3);colors3[2].color=col.color;" class="{{col.class}}">
																		<div class="color-bx" ng-style="{'background':col.color}"></div>
																	</li>


																</ul>

															</div>
															<div class="text-line ">
																<p ng-click="shadowRemoveText()">
																	<img src="img/link.jpg" class="padr">No Ink (shirt fabric will show through)</p>
															</div>
															<div class="text-line" ng-if="shadowColor3!=''">
																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Distance</p>
																	</div>
																	<div class="col-xs-8">
																		<div data-range-slider data-floor="-75" data-ceiling="75" data-step="1" data-precision="2" data-highlight="left" data-ng-model="items3[0].value"></div>

																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items3[0].value}}</p>
																	</div>
																</div>

																<div class="row ">
																	<div class="col-xs-2">
																		<p class="mar0 f-size">Angle</p>
																	</div>
																	<div class="col-xs-8 text-center">
																		<div data-range-slider data-floor="1" data-ceiling="360" data-step="1" data-precision="2" data-highlight="left" data-ng-model="items3[1].value"></div>
																		<!-- <button class="text-center btn btn-danger m-30 con-btn">REMOVE STROKE</button> -->
																	</div>
																	<div class="col-xs-2">
																		<p class="range-value">{{items3[1].value}}</p>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
											<!--//end-->
										</div>

									</div>

									<div class="row" ng-show="fourthTextSetting">
										<div class="col-md-12">
											<div class="slider-show">
												<div class="rang-slider">
													<div class="ul-class">
														<div class="row" ng-repeat="des in design.design3">
															<div class="col-xs-2">
																<p class="mar0 f-size">{{des.name}}</p>
															</div>
															<div class="col-xs-8">

																<div data-range-slider data-floor="{{des.from}}" data-ceiling="{{des.to}}" data-step="{{des.step}}" data-precision="2" data-highlight="left" data-ng-model="des.value"></div>

															</div>
															<div class="col-xs-2">
																<p class="range-value">{{des.value}}</p>
															</div>
														</div>
														<div class="row">
															<div class="col-md-3 col-xs-12">
																<div class="edit_content mt-10 front">
																	<p>JUSTIFY</p>
																</div>
																<div class="fynx-select txt-img">
																	<select ng-change="changeJustify(selectedJustify)" ng-model="selectedJustify">
																		<option value="center">Center</option>
																		<option value="left">Left</option>
																		<option value="right">Right</option>
																	</select>
																	<span class="only-border"></span>
																</div>
															</div>
															<div class="col-md-6">
																<div class="edit_content mt-10 front">
																	<p class="text-uppercase ml-30">Layer Orderds</p>
																</div>
																<div class="layer-buttons">
																	<button class="btn bring-front bod-x ml-30" ng-click="bringForward(filter.custom[3])"><i class="fa fa-angle-up"></i> Bring Forward</button>
																	<button class="btn bring-back bod-x" ng-click="sendBackward(filter.custom[3])"><i class="fa fa-angle-down"></i> Send Backward</button>
																</div>
															</div>
															<div class="col-md-3">
																<div class="edit_content mt-10 front">
																	<p class="text-uppercase">Alignment</p>
																</div>
																<div class="align-buttons">
																	<button class="btn bod-x">Align to center</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="add-image">
									<p>ADD IMAGE TO YOUR TSHIRT</p>
									<button class="btn btn-danger mar0 con-btn" ng-click="imgUpload();">UPLOAD IMAGE</button>
								</div>
							</div>
							<button class="btn btn-primary con-btn" ng-click="previewDesign();">PREVIEW DESIGN</button>
							<button class="btn btn-danger con-btn" ng-click="tabchange(4)">ADD TO DESIGN</button>

						</uib-tab>

						<uib-tab active="tab.buy">
							<uib-tab-heading>
								<div class="icon-font">
									<i class="fa fa-rupee"></i>
								</div>
								<div class="tab-title">Buy</div>
							</uib-tab-heading>

							<div class="edit_content" ng-show="showSecond">
								<p class="m5">DECORATIVE METHODS</p>
								<span class="span-class">Digital Print (no minimum)</span>
								<div class="rate m-45">
									<div class="row">
										<div class="col-md-3 col-xs-6 select-size">

											<div class="fynx-select">
												<select ng-model="filter.size" ng-change="change">
													<option ng-repeat="sz in size">{{sz.name}}</option>
												</select>
												<span class="only-border"></span>
											</div>
										</div>
										<div class="col-md-6 col-xs-6 ">

											<form class="form-inline" role="form">
												<div class="form-group">
													<label for="">QUANTITY:</label>
													<input type="text" class="form-control" ng-change="validateQuantity(images)" ng-model="filter.quantity">
												</div>
											</form>
										</div>
									</div>

									<button class="btn btn-danger con-btn" ng-click="showor();" ng-hide="nostockquantity">CALCULATE PRIZE</button>
									<p class="danger create-nostock" ng-show="nostockquantity">item quantity out of stock</p>
								</div>

							</div>
							<div class="row" ng-if="!showSecond">
								<div class="col-md-9">
									<div class="fix-prize mt-10">

										<h3>Rs. {{amount}}/-
											<span class="pull-right" ng-click="showor()">Edit Quantities</span>
										</h3>
									</div>
									<div class="front content-view m-30 ">
										<div class="edit_content">
											<p>ENTER YOUR DESIGN NAME</p>
										</div>
										<input type="text" class="form-control" ng-model="filter.designname"> </input>
										<button class="btn btn-danger m-30 con-btns" ng-click="addToCart()">ADD TO CART</button>
									</div>
								</div>
							</div>

						</uib-tab>
					</uib-tabset>
				</div>

			</div>
		</div>
	</div>
</div>
