<div class="breadcrumb">
  <div class="container relative">
    <h3>Welcome to the FYNX lab</h3>
    <img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
  </div>
</div>

<div class="container">
  <hr>
  <h1 class="danger text-center bold-head">CHOOSE YOUR ATTIRE</h1>
  <!-- <button class="btn btn-danger" ng-click="selectColor();">TEST</button> -->
</div>

<div class="row-flex">
  <div class="col-flex">
    <img alt="Tshits" class="img-responsive full-image" src="img/custom-tshirt.jpg">
    <button class="btn btn-danger btn-middle-big" ng-click="toCreatePage(1)">Tshirts</button>
  </div>
  <div class="col-flex">
    <img alt="Hoodies" class="img-responsive full-image" src="img/custom-hoodie.jpg">
    <button class="btn btn-primary btn-middle-big" ng-click="toCreatePage(2)">Hoodies</button>
  </div>
</div>

<div class="row-flex">
  <div class="col-flex">
    <img alt="Tanks" class="img-responsive full-image" src="img/custom-tanks.jpg">
    <button class="btn btn-warning btn-middle-big" ng-click="toCreatePage(3)">Tanks</button>
  </div>
</div>
