<div class="breadcrumb">
    <div class="container relative">
        <h3>Welcome to the FYNX lab</h3>
        <img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
    </div>
</div>
<div class="container">
    <hr>
    <div class="product-detail">
        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive m-center" src="img/tee.jpg">
            </div>

            <div class="col-md-7">
                <h3 class="danger">FUNK IT UP</h3>
                <div class="detail-tab customize">
                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>
                                <div class="icon-font">
                                    <i class="flaticon flaticon-t-shirt"></i>
                                </div>
                                <div class="tab-title">Edit Product</div>
                            </uib-tab-heading>
                            <div class="edit_content" ng-repeat="pro in tshirt">
                                <p>{{pro.name}}</p>
                                <p>SIZES <span>: {{pro.from}} to {{pro.to}}</span> <b class="b-color" ng-click="sizeChart();">SIZE CHART</b></p>
                                <p>FABRIC: <span>100% PRESHRUNK COTTON</span></p>
                                <p class="b-color"> + SHOW MORE INFORMATION</p>


                                <div class="color-pick">
                                    <p>CHOOSE COLOURS</p>
                                    <ul>
                                        <li ng-repeat="col in color" ng-click="makeactive($index)" class="{{col.class}}">
                                            <div class="color-bx" ng-style="{'background':col.color}"></div>
                                        </li>


                                    </ul>
                                    <button class="btn btn-danger con-btn">CONTINUE</button>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <div class="icon-font">
                                    <i class="flaticon flaticon-camera"></i>
                                </div>
                                <div class="tab-title">Add Image</div>
                            </uib-tab-heading>
                            <div class="edit_content" ng-repeat="pro in tshirt">
                                <p>ADD IMAGE TO YOUR TSHIRT</p>
                                <button class="btn btn-danger mar0 con-btn" ng-click="imgUpload();">UPLOAD IMAGE</button>

                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <div class="icon-font">
                                    <i class="not-icon">aA</i>
                                </div>
                                <div class="tab-title">Add Text</div>
                            </uib-tab-heading>
                            <div class="add-input">
                                <!--
                                <div class="first">


                                    <div class="row">
                                        <div class="col-md-8">

                                            <div class="front">
                                                <div class="edit_content">
                                                    <p>ENTER YOUR TEXT BELOW</p>
                                                </div>
                                                <textarea rows="4" cols="80"> </textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="edit_content mt-10 front">
                                                <p>font</p>
                                            </div>
                                            <div class="fynx-select">
                                                <select>
                                                    <option></option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                                <span class="only-border"></span>
                                            </div>
                                            <button class="btn btn-danger m-30 con-btn">ADD TO DESIGN</button>
                                        </div>

                                    </div>
                                </div>
-->
                                <div class="second">
                                    <div class="row">
                                        <div class="col-md-8">

                                            <div class="front">
                                                <div class="edit_content">
                                                    <p>ENTER YOUR TEXT BELOW</p>
                                                </div>
                                                <textarea rows="4" cols="80"> </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <div class="icon-font">
                                    <i class="fa fa-rupee"></i>
                                </div>
                                <div class="tab-title">Buy</div>
                            </uib-tab-heading>
                        </uib-tab>
                    </uib-tabset>
                </div>

            </div>
        </div>
    </div>
</div>