<div class="breadcrumb">
  <div class="container relative">
    <h3>{{menutitle}}</h3>
    <img alt="Mr. Fynx" class="mascot" src="img/mrfynx2.png">
  </div>
</div>

<div class="container">
  <div class="content-view">
    <p>
      <span class="danger">Is there a minimum quantity required for custom apparel?</span>
      <br>
      There’s no minimum required to order our digitally printed t-shirts -- order one for yourself or one for everyone you know</p>

    <p>
      <span class="danger">
        How long will my order take to arrive?</span>
      <br>
      Digitally printed orders ship within 1-3 days from when the order is placed. Shipping and transit time vary anywhere from 1-7 days depending on where you live.</p>

    <p>
      <span class="danger">
        What is digital printing?</span>
      <br>
      With Digital Printing, your design is printed directly onto the garment using water-based CMYK inks. Like ink jet printers, this technique allows you to print millions of colors making it a perfect choice for full-color photographs. Plus, digital printing allows us to offer custom tees with no minimum order requirement</p>

    <p>
      <span class="danger">
        Can I make changes after my order has been placed?</span>
      <br>
      At MyFynx, we process orders superfast -- which means, unfortunately, that we can't guarantee that changes can be made after you've submitted your order. To avoid issues, we recommend double-checking your order before you place it. Of course, if you do happen to make an error on your order, feel free to contact us and we'll see what we can do.</p>

    <p>
      <span class="danger">
        Can you provide vinyl names and numbers?</span>
      <br>
      We can definitely provide custom names/numbers for your custom shirts , contact us.</p>

    <p>
      <span class="danger">
        Can I resell shirts I've purchased from My Fynx?</span>
      <br>
      Yes, you can resell shirts you've purchased from us as long as they are uploaded images that you own the rights to.</p>

    <p>
      <span class="danger">
        What if I need a size or product not listed on your website?</span> <br>
        Feel free to write to us at info@myfynx.com. We're always happy to help you find alternative sizes or products that we can print on.</p>


    <p>
      <span class="danger">
        Money back guarantee</span>
      <br>
      Your satisfaction means everything to us! We're proud to offer the highest quality customized apparel and the fastest turn-around time in the industry. Please let us know if you are not completely satisfied with your order so that we can promptly fix the problem at no cost to you. If your custom apparel is misprinted, flawed, or damaged in any way, we will offer you a reprint or a full refund with no hassles. Just give us a call or email us within 30 days of receiving your order.</p>

    <p>
      <span class="danger">
        How will I receive my Order?</span>
      <br>
      Your products will be shipped on you’re the shipping address you have provided us. Your products will be delivered to your doorsteps by reputed courier companies with whom we have tie-ups with and we ensure that your orders will be delivered to you in fully sealed packages in perfect condition.</p>

    <p>
      <span class="danger">
        How will I get confirmation that my Order is placed successfully?</span>
      <br>
      After you have placed your order you will receive an email with information on your purchase. You will another email when your order has been shipped. In case of any delay on your order due to any unusual event, you will receive a special update from our end.
      <br>
      If you still have any concern, please write to us at info@myfynx.com, and your issue will be addressed.</p>

    <p>
      <span class="danger">
        What are my payment options?</span>
      <br>
      We accept Visa, MasterCard, Discover and American Express. We will screen all credit card orders for potential fraud, so double-check your billing and shipping addresses to avoid delays with your order.</p>

    <p>
      <span class="danger">
        Is it safe to shop online if I make payment using net banking, Debit card or Credit Card?</span>
      <br>
      All Credit Card, Debit Card and net banking transactions are processed over a secure encrypted connection.</p>

    <p>
      <span class="danger">
        Are there any hidden charges?</span>
      <br>
      There will be no hidden charges. Any octroy or sales tax will be borne by MyFynx.com. You pay only the amount that you see in your order summary.</p>

    <p>
      <span class="danger">
        What should I do if my payment fails?</span>
      <br>
      In case of a payment failure, please retry ensuring :
      <ol>
        <li>Information passed on to payment gateway is accurate i.e. account details, billing address, password (for net banking) and that your Internet connection is not disrupted in the process.</li>
        <li>If your account has been debited after a payment failure, it is normally rolled back to your bank account within 7 business days For any further clarification, you can email us on info@myfynx.com.</li>
      </ol>
    </p>

    <p>
      <span class="danger">
        What are the terms and conditions for refund?</span>
      <br>
      You can ask for a refund against any of your order within 15 days of its date of delivery. For any other requests or queries regarding this, kindly write to us at info@myfynx.com.</p>

    <p>
      <span class="danger">
        What to do if I forgot my password?</span>
      <br>
      Just click on 'Forgot Password' option and we will s end it to you on your email address registered with us.</p>

    <p>
      <span class="danger">
        Do you accept bulk order?</span>
      <br>
      Yes we do ! kindly contact us at info@myfynx.com</p>

    <p>
      <span class="danger">
        Is there any trial then purchase option available?</span>
      <br>
      Since we sell only on our online fashion store, there is no trial and buy option available. However, in order to assist you in picking the right size, we have size chart with body measurements featured on our product pages. For any queries please write to us at info@myfynx.com.</p>

    <p>
      <span class="danger">
        Will I automatically receive marketing emails from you after registration?</span>
      <br>
      If you register with us, you are inevitably getting subscribed to our newsletter. If you don't wish to receive our newsletter, you can click on the unsubscribe link in the newsletter.</p>
  </div>
</div>
