<div class="breadcrumb ng-scope">
  <div class="container relative">
    <h3 class="text-uppercase">Forgot password ?</h3>
    <img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot doneLoading">
  </div>
</div>
<div class="container">
  <form>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="pswd" class="text-uppercase">enter new password</label>
          <input type="text" class="form-control" id="pswd">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="newpswd" class="text-uppercase">re-enter password</label>
          <input type="text" class="form-control" id="newpswd">
        </div>
      </div>
    </div>
    <button class="btn btn-danger text-uppercase ">submit</button>
  </form>
</div>
