<div class="breadcrumb ng-scope">
  <div class="container relative">
    <h3 class="text-uppercase">Forgot password ?</h3>
    <img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot doneLoading">
  </div>
</div>
<div class="container">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
  <form name="forgotform" ng-submit="resetPassword(forgotform)">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="pswd" class="text-uppercase">enter new password</label>
          <input type="password" class="form-control" id="pswd" name="password" ng-model="forgotform.newpassword" required>
          <div style="color:red" ng-show="forgotform.password.$error.required && forgotform.password.$touched" role="alert">
            Please enter your password.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="newpswd" class="text-uppercase">re-enter password</label>
          <input type="password" class="form-control" name="conpassword" id="newpswd" ng-model="forgotform.reenterpassword" required>
          <div style="color:red" ng-show="forgotform.conpassword.$error.required && forgotform.conpassword.$touched" role="alert">
            Please re-enter your password.
          </div>

        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-danger text-uppercase con-btn">submit</button>
  </form>
</div>
