<flex-slider flex-slide="s in mySlides track by $index">
    <li>
        <img ng-src="{{s.src}}">
        
        <div class="text-above">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-7 col-md-5 col-xs-offset-6 col-xs-5">
                        <h3 ng-bind-html="s.head" class="hidden-xs"></h3>
                        <p ng-bind-html="s.sub" class="hidden-xs"></p>
                        <button class="btn btn-primary">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
        
    </li>
</flex-slider>

<div class="banner relative">
    <div class="container">
        <div class="row">
            <div class="col-md-5  col-xs-12">
                <img src="img/mrfynx.png" alt="Mr. Fynx" class="half-image img-responsive m-center">
            </div>
            <div class="col-md-5 col-xs-12">
                <h3>Meet the FYNX</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae officiis facere, eum accusantium dolores eaque aliquam, quaerat adipisci, vel consequatur, minima suscipit saepe ducimus! Corporis incidunt aliquid accusamus neque nihil, minima suscipit saepe ducimus! Corporis incidunt aliquid accusamus neque nihil.</p>
                <button class="btn btn-danger">Know More</button>
            </div>
        </div>
    </div>
</div>

<div class="row-flex">
    <div class="col-flex">
        <img src="img/box1.jpg" alt="Women" class="img-responsive full-image">
        <button class="btn btn-danger btn-middle-big">Women</button>
    </div>
    <div class="col-flex">
        <img src="img/box2.jpg" alt="Men" class="img-responsive full-image">
        <button class="btn btn-primary btn-middle-big">Men</button>

    </div>
</div>

<div class="row-flex">
    <div class="col-flex">
        <img src="img/box4.jpg" alt="Infants" class="img-responsive full-image">
        <button class="btn btn-warning btn-middle-big">Infants</button>
    </div>
    <div class="col-flex">
        <img src="img/box3.jpg" alt="Pets" class="img-responsive full-image">
        <button class="btn btn-success btn-middle-big">Pets</button>
    </div>
</div>
<div class="custom-banner relative">
    <img src="img/customize.jpg" alt="Customize" class="img-responsive full-image">
    <button class="btn btn-danger text-upper">Enter</button>
</div>