<flex-slider flex-slide="s in mySlides">
    <li>
        <img ng-src="{{s}}">
        <div class="text-above">
            <h3>Head</h3>
            <p>Sub</p>
            <button class="btn btn-primary">Shop Now</button>
        
        <!--<div class="text-above">
            <h3>{{s.head}}</h3>
            <p>{{s.sub}}</p>
            <button class="btn btn-primary">Shop Now</button>-->
        </div>
    </li>
</flex-slider>

<div class="banner">
    <img src="img/whitechecks.jpg" alt="white checks" class="img-responsive full-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-6 col-md-4">
                <h3>Meet the FYNX</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae officiis facere, eum accusantium dolores eaque aliquam, quaerat adipisci, vel consequatur, minima suscipit saepe ducimus! Corporis incidunt aliquid accusamus neque nihil.</p>
                <button class="btn btn-primary">Know More</button>
            </div>
        </div>
    </div>
</div>

<div class="row-flex">
    <div class="col-flex">
        <img src="img/box1.jpg" alt="Women" class="img-responsive full-image">
        <button class="btn btn-primary">Women</button>
    </div>
    <div class="col-flex">
        <img src="img/box2.jpg" alt="Men" class="img-responsive full-image">
        <button class="btn btn-primary">Men</button>

    </div>
</div>

<div class="row-flex">
    <div class="col-flex">
        <img src="img/box3.jpg" alt="Infants" class="img-responsive full-image">
        <button class="btn btn-primary">Infants</button>
    </div>
    <div class="col-flex">
        <img src="img/box4.jpg" alt="Pets" class="img-responsive full-image">
        <button class="btn btn-primary">Pets</button>
    </div>
</div>
<div class="banner">
    <img src="img/customize.jpg" alt="Customize" class="img-responsive full-image">
    <button class="btn btn-primary">Enter</button>
</div>