<div class="breadcrumb">
	<div class="container relative">
		<h3>MY ACCOUNT</h3>
		<img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div ng-include="template.account"></div>
		</div>
	</div>
	<hr>
</div>
<div class="container min-hght">
	<div class="row">
		<div class="col-md-12">
			<div class="order-table">
				<table class="table">
					<thead>
						<tr class="text-center desktop">
							<th>TRANSITION ID</th>
							<th>DATE </th>
							<th>AMOUNT</th>
							<th>STATUS</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center">
							<td class="mobile"><span class="mobile">TRANSITION ID</span> 1586972348 </td>
							<td class="mobile"><span class="mobile">DATE </span>5.6.12 </td>
							<td class="mobile"> <span class="mobile">AMOUNT</span>5.6.12 </td>
							<td class="mobile"><span class="mobile">STATUS</span>DISPATCHED</td>
							<td class="mobile">
								<button type="submit" class="btn-blue btn-primary btn">PRINT INVOICE</button>
							</td>
						</tr>
						<tr class="text-center">
							<td class="mobile"><span class="mobile">TRANSITION ID</span> 1586972348 </td>
							<td class="mobile"><span class="mobile">DATE </span>5.6.12 </td>
							<td class="mobile"><span class="mobile">AMOUNT</span>5.6.12 </td>
							<td class="mobile"><span class="mobile">STATUS</span>spanDISPATCHED</td>
							<td class="mobile">
								<button type="submit" class="btn-blue btn btn-primary">PRINT INVOICE</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
		</div>

	</div>

</div>
