<div class="breadcrumb">
	<div class="container relative">
		<h3>MY ACCOUNT</h3>
		<img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div ng-include="template.account"></div>
		</div>
	</div>
	<hr>
</div>
<div class="container min-hght" infinite-scroll='loadProducts()' infinite-scroll-distance="0" infinite-scroll-disabled="fasle">
	<div class="row">
		<div class="col-md-12">
			<div class="order-table" ng-if="msg!=''">
				{{msg}}
			</div>
			<div class="order-table" ng-if="msg==''">
				<table class="table">
					<thead>
						<tr class="text-center desktop">
							<th>TRANSITION ID</th>
							<th>DATE </th>
							<th>AMOUNT</th>
							<th>STATUS</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center" ng-repeat="order in orders">
							<td class="mobile" ng-if="order.transactionid!=''"><span class="mobile">TRANSITION ID</span> {{order.transactionid}} </td>
							<td class="mobile" ng-if="order.transactionid==''"><span class="mobile">TRANSITION ID</span> - </td>
							<td class="mobile"><span class="mobile">DATE </span>{{order.date}} </td>
							<td class="mobile"> <span class="mobile">AMOUNT</span>{{order.totalamt.totalsum}} </td>
							<td class="mobile">
								<span class="mobile">STATUS</span>{{order.orderstatusname}}
								<!-- <div class="step">
									<ul>
										<li class="tab-item breadcrums active" ng-click="tabchange('design',1)">
											<span class="bread-frnt"></span>
											<p style="margin: 0 0 -7px;"></p>
											<span class="bread-back"></span>
										</li>
										<li class="tab-item breadcrums" ng-click="tabchange('trim',2)">
											<span class="bread-frnt"></span>
											<p style="margin: 0 0 -7px;"></p>
											<span class="bread-back"></span>
										</li>
										<li class="tab-item breadcrums" ng-click="tabchange('team',3)">
											<span class="bread-frnt"></span>
											<p style="margin: 0 0 -7px;"></p>
											<span class="bread-back"></span>
										</li>
										<li class="tab-item breadcrums" ng-click="tabchange('logo',4)">
											<span class="bread-frnt"></span>
											<p style="margin: 0 0 -7px;"></p>
											<span class="bread-back"></span>
										</li>

									</ul>
					      </div> -->
								<div class="step" ng-if="order.fedex.isDelException">
									<ul>
										<li class="tab-item breadcrums active" ng-click="tabchange('design',1)">
											<span class="bread-frnt"></span>
											<p style="margin: 0 0 -7px;"></p>
											<span class="bread-back"></span>
										</li>
										<li class="tab-item breadcrums active" ng-click="tabchange('trim',2)">
											<span class="bread-frnt"></span>
											<p style="margin: 0 0 -7px;"></p>
											<span class="bread-back"></span>
										</li>
										<li class="tab-item breadcrums" ng-click="tabchange('team',3)">
											<span class="bread-frnt"></span>
											<p style="margin: 0 0 -7px;"></p>
											<span class="bread-back"></span>
										</li>
										<li class="tab-item breadcrums" ng-click="tabchange('logo',4)">
											<span class="bread-frnt"></span>
											<p style="margin: 0 0 -7px;"></p>
											<span class="bread-back"></span>
										</li>

									</ul>
					      </div>
								<div class="step" ng-if="order.fedex.isInTransit">
									<ul>
					          <li class="tab-item breadcrums active" ng-click="tabchange('design',1)">
					            <span class="bread-frnt"></span>
					            <p style="margin: 0 0 -7px;"></p>
					            <span class="bread-back"></span>
					          </li>
					          <li class="tab-item breadcrums active" ng-click="tabchange('trim',2)">
					            <span class="bread-frnt"></span>
					            <p style="margin: 0 0 -7px;"></p>
					            <span class="bread-back"></span>
					          </li>
					          <li class="tab-item breadcrums active" ng-click="tabchange('team',3)">
					            <span class="bread-frnt"></span>
					            <p style="margin: 0 0 -7px;"></p>
					            <span class="bread-back"></span>
					          </li>
					          <li class="tab-item breadcrums" ng-click="tabchange('logo',4)">
					            <span class="bread-frnt"></span>
					            <p style="margin: 0 0 -7px;"></p>
					            <span class="bread-back"></span>
					          </li>

					        </ul>
					      </div>
								<!-- <div class="step">
					        <ul>
					          <li class="tab-item breadcrums active" ng-click="tabchange('design',1)">
					            <span class="bread-frnt"></span>
					            <p style="margin: 0 0 -7px;"></p>
					            <span class="bread-back"></span>
					          </li>
					          <li class="tab-item breadcrums active" ng-click="tabchange('trim',2)">
					            <span class="bread-frnt"></span>
					            <p style="margin: 0 0 -7px;"></p>
					            <span class="bread-back"></span>
					          </li>
					          <li class="tab-item breadcrums active" ng-click="tabchange('team',3)">
					            <span class="bread-frnt"></span>
					            <p style="margin: 0 0 -7px;"></p>
					            <span class="bread-back"></span>
					          </li>
					          <li class="tab-item breadcrums active" ng-click="tabchange('logo',4)">
					            <span class="bread-frnt"></span>
					            <p style="margin: 0 0 -7px;"><i class="fa fa-check-circle"></i></p>
					            <span class="bread-back"></span>
					          </li>

					        </ul>
					      </div> -->
							</td>
							<td class="mobile">
								<button type="submit" class="btn-blue btn-primary btn" ng-click="trackFedex(order)">Track Fedex</button>
							</td>

						</tr>
					</tbody>
				</table>
			</div>

			<!-- <div class="order-table">
				<table class="table">
					<thead>
						<tr class="text-center desktop">
							<th>TRANSITION ID</th>
							<th>DATE </th>
							<th>STATUS</th>
							<th>ACTUAL DELIVERY</th>

						</tr>

					</thead>
				<tbody>
					<tr>

						<td class="mobile"><span class="mobile">TRANSITION ID</span> {{order.transactionid}} </td>
						<td class="mobile"><span class="mobile">DATE </span>{{order.date}} </td>
						<td class="mobile text-center"><span class="mobile">STATUS</span>
							<div class="step">
								<ul>
									<li class="tab-item breadcrums active" ng-click="tabchange('design',1)">
										<span class="bread-frnt"></span>
										<p style="margin: 0 0 -7px;"></p>
										<span class="bread-back"></span>
									</li>
									<li class="tab-item breadcrums" ng-click="tabchange('trim',2)">
										<span class="bread-frnt"></span>
										<p style="margin: 0 0 -7px;"></p>
										<span class="bread-back"></span>
									</li>
									<li class="tab-item breadcrums" ng-click="tabchange('team',3)">
										<span class="bread-frnt"></span>
										<p style="margin: 0 0 -7px;"></p>
										<span class="bread-back"></span>
									</li>
									<li class="tab-item breadcrums" ng-click="tabchange('logo',4)">
										<span class="bread-frnt"></span>
										<p style="margin: 0 0 -7px;"></p>
										<span class="bread-back"></span>
									</li>

								</ul>
				      </div>
							<div class="step">
								<ul>
									<li class="tab-item breadcrums active" ng-click="tabchange('design',1)">
										<span class="bread-frnt"></span>
										<p style="margin: 0 0 -7px;"></p>
										<span class="bread-back"></span>
									</li>
									<li class="tab-item breadcrums active" ng-click="tabchange('trim',2)">
										<span class="bread-frnt"></span>
										<p style="margin: 0 0 -7px;"></p>
										<span class="bread-back"></span>
									</li>
									<li class="tab-item breadcrums" ng-click="tabchange('team',3)">
										<span class="bread-frnt"></span>
										<p style="margin: 0 0 -7px;"></p>
										<span class="bread-back"></span>
									</li>
									<li class="tab-item breadcrums" ng-click="tabchange('logo',4)">
										<span class="bread-frnt"></span>
										<p style="margin: 0 0 -7px;"></p>
										<span class="bread-back"></span>
									</li>

								</ul>
				      </div>
							<div class="step">
								<ul>
				          <li class="tab-item breadcrums active" ng-click="tabchange('design',1)">
				            <span class="bread-frnt"></span>
				            <p style="margin: 0 0 -7px;"></p>
				            <span class="bread-back"></span>
				          </li>
				          <li class="tab-item breadcrums active" ng-click="tabchange('trim',2)">
				            <span class="bread-frnt"></span>
				            <p style="margin: 0 0 -7px;"></p>
				            <span class="bread-back"></span>
				          </li>
				          <li class="tab-item breadcrums active" ng-click="tabchange('team',3)">
				            <span class="bread-frnt"></span>
				            <p style="margin: 0 0 -7px;"></p>
				            <span class="bread-back"></span>
				          </li>
				          <li class="tab-item breadcrums" ng-click="tabchange('logo',4)">
				            <span class="bread-frnt"></span>
				            <p style="margin: 0 0 -7px;"></p>
				            <span class="bread-back"></span>
				          </li>

				        </ul>
				      </div>
							<div class="step">
				        <ul>
				          <li class="tab-item breadcrums active" ng-click="tabchange('design',1)">
				            <span class="bread-frnt"></span>
				            <p style="margin: 0 0 -7px;"></p>
				            <span class="bread-back"></span>
				          </li>
				          <li class="tab-item breadcrums active" ng-click="tabchange('trim',2)">
				            <span class="bread-frnt"></span>
				            <p style="margin: 0 0 -7px;"></p>
				            <span class="bread-back"></span>
				          </li>
				          <li class="tab-item breadcrums active" ng-click="tabchange('team',3)">
				            <span class="bread-frnt"></span>
				            <p style="margin: 0 0 -7px;"></p>
				            <span class="bread-back"></span>
				          </li>
				          <li class="tab-item breadcrums active" ng-click="tabchange('logo',4)">
				            <span class="bread-frnt"></span>
				            <p style="margin: 0 0 -7px;"><i class="fa fa-check-circle"></i></p>
				            <span class="bread-back"></span>
				          </li>

				        </ul>
				      </div>
						</td>
						<td class="mobile">DATE </span>{{order.date}} </td>
					</tr>
				</tbody>
				</table>
			</div> -->
		</div>

	</div>

</div>
