<div class="breadcrumb">
    <div class="container relative">
        <h3>{{menutitle}}</h3>
        <img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
    </div>
</div>

<div class="container">
    <div class="content-view">
        <p>This privacy policy sets out how [www.myfynx.com] uses and protects any information that you give when you use this website.
            <br>[www.myfynx.com] is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
            <br>[www.myfynx.com] may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from [Privacy Policy Date].
            <br>What we collect</p>

        <h4>We may collect the following information:</h4>
        <ul>
            <li>Name and job title</li>
            <li>Contact information including email address</li>
            <li>Demographic information such as postcode, preferences and interests</li>
            <li>Other information relevant to customer surveys and/or offers</li>
        </ul>
        <ol>
            <li>Name and job title</li>
            <li>Contact information including email address</li>
            <li>Demographic information such as postcode, preferences and interests</li>
            <li>Other information relevant to customer surveys and/or offers</li>
        </ol>

    </div>
</div>