<div class="left-bar hide-sm">

    <div class="text-center">
        <img src="img/mrfynx2.png" class="small-mascot">
    </div>

    <div class="search-box">
        <span class="search-btn"><i class="fa fa-search"></i></span>
        <div class="input-box">
            <input type="search" placeholder="search here">
        </div>
    </div>

    <h5 class="text-upper">Highlights</h5>
    <ul class="list-unstyled">
        <li ui-sref="home">Home</li>
        <li>Best Sellers</li>
        <li>Trend Styles</li>
    </ul>

    <h5 class="text-upper">Shop by category</h5>
    <ul class="list-unstyled">
        <li>T-Shirts
            <div class="radio">
                <label>
                    <input type="radio" name="tshirts">Polo Shirts
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="tshirts">Graphic T-shirts
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="tshirts">Tanks
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="tshirts">Hoodies
                </label>
            </div>
        </li>
        <li>Caps</li>
        <li>Shoes</li>
    </ul>

    <h5 class="text-upper">Miscellaneous</h5>
    <ul class="list-unstyled">
        <li>Help</li>
        <li>Newsletter</li>
    </ul>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <div class="site-map">
                <ul>
                    <li><a href="#/home">
                        Home
                    </a>
                    </li>
                    <li><a href="#/product/men">
                        Printed T-Shirts for Men
                    </a>
                    </li>
                </ul>
            </div>

            <div class="page-title text-center text-upper">
                <h2>Mens</h2>
                <h1 class="primary">T-Shirts</h1>
            </div>

            <div class="filter-bar text-center">
                <span class="arrow"><select>
                        <option value="">Size</option>
                        <option value="">S</option>
                        <option value="">M</option>
                        <option value="">L</option>
                        <option value="">XL</option>
                    </select></span>
                <span class="arrow"><select>
                        <option value="">Colors</option>
                        <option value="">Red</option>
                        <option value="">Green</option>
                        <option value="">Blue</option>
                    </select></span>
                <span class="arrow"><select>
                        <option value="">Price</option>
                        <option value="">Low - High</option>
                        <option value="">High - Low</option>
                    </select></span>
            </div>


            <div class="product-list">
                <div class="row">
                    <div class="col-md-4 col-xs-6" ng-repeat="p in productList" ui-sref="productview">
                        <div class="image-holder">
                            <img ng-src="{{p.src}}">
                        </div>
                        <div class="product-info">
                            <div class="primary price">
                                Rs. {{p.price}}
                            </div>
                            <div class="product-name">
                                {{p.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>