	<div class="left-bar hidden-sm hidden-xs">
	<div class="text-center">
		<img src="img/mrfynx2.png" class="small-mascot">
	</div>
	<form class="search-box" ng-submit="">
		<button class="search-btn" type="submit"><i class="fa fa-search"></i>
		</button>
		<div class="input-box">
			<input type="search" ng-model="filters.name" ng-change="loadProductsSearch()" placeholder="search here">
		</div>
	</form>
	<h5 class="text-upper">Highlights</h5>
	<ul class="list-unstyled">
		<li ui-sref="home">Home</li>
	</ul>
	<h5 class="text-upper">Shop by category</h5>
	<ul class="list-unstyled">
		<li class="econ tshirt" ng-repeat="category in subcategory"> <span ng-click="hideshow(category)">{{category.name}}</span>
			<div class="checkbox" ng-repeat="type in category.types" ng-if="category.state">
				<label>
					<input type="checkbox" ng-click="addtype(type,$index)" name="tshirts"><span>{{type.name}}</span>
				</label>
			</div>
		</li>
	</ul>
	<h5 class="text-upper">Miscellaneous</h5>
	<ul class="list-unstyled">
		<li><a ui-sref="faq">FAQ</a></li>
		<li><a ui-sref="about">About</a></li>
	</ul>
</div>
<div class="container" infinite-scroll='loadProducts()' infinite-scroll-distance="0" infinite-scroll-disabled="fasle">
	<div class="row">
		<div class="col-md-offset-2 col-md-10 col-sm-offset-0 col-sm-12">
			<div class="site-map">
				<ul>
					<li><a href="#/home">
                        Home
                    </a>
					</li>
					<li>
						<a href="#/product/men" ng-bind="categoryName | uppercase">
						</a>
					</li>
				</ul>
			</div>
			<div class="page-title text-center text-upper">
				<h2 ng-bind="categoryName | uppercase"></h2>
				<!--                <h1 class="primary">T-Shirts</h1>-->
			</div>
			<div class="filter-bar text-center">
				<span class="arrow">
                       	<select ng-options = "size.id as size.name for size in sizes" ng-model="filters.size" ng-change="changeFilter(1)">

                    	</select>
                    </span>
				<span class="arrow">
					<select ng-model="filters.color" ng-options = "size.id as size.name for size in colors" ng-change="changeFilter(2)" value="">
					    <!-- <option value="">Color</option>
					    <option value="{{color.id}}" ng-repeat="color in colors">{{color.name}}</option> -->
					</select>
                    </span>
				<span class="arrow">
                     	<select ng-model="filters.price" ng-options = "size.id as size.name for size in price" ng-change="changeFilter(3)" value="">

                    	</select>
                    </span>
			</div>
			<div class="product-list">
				<div class="row">
					<div class="col-sm-4 col-xs-6" ng-repeat="product in productList" ui-sref="productview({category:categoryName,id: product.id,design:product.design})">
						<div class="image-holder">
							<img ng-src="{{product.image | serverimage}}">
						</div>
						<div class="product-info">
							<div class="primary price">
								Rs. {{product.price}}
							</div>
							<div class="product-name">
								{{product.name}}
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center" ng-show="noData">
					<h3>No products found.</h3>
				</div>
			</div>
		</div>
	</div>
</div>
