<div class="left-bar hidden-sm hidden-xs">

    <div class="text-center">
        <img src="img/mrfynx2.png" class="small-mascot">
    </div>

    <form class="search-box" ng-submit="">
        <button class="search-btn" type="submit"><i class="fa fa-search"></i>
        </button>
        <div class="input-box">
            <input type="search" placeholder="search here">
        </div>
    </form>

    <h5 class="text-upper">Highlights</h5>
    <ul class="list-unstyled">
        <li ui-sref="home">Home</li>
        <li>New Arrivals</li>
        <li>Best Sellers</li>
        <li>Trend Styles</li>
    </ul>

    <h5 class="text-upper">Shop by category</h5>
    <ul class="list-unstyled">
        <li class="econ tshirt">T-Shirts
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="tshirts"><span>Polo Shirts</span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="tshirts"><span>Graphic T-shirts</span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="tshirts"><span>Tanks</span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="tshirts"><span>Hoodies</span>
                </label>
            </div>
        </li>
        <li class="econ cap">Caps</li>
        <li class="econ shoe">Shoes</li>
    </ul>

    <h5 class="text-upper">Miscellaneous</h5>
    <ul class="list-unstyled">
        <li>Help</li>
        <li>Newsletter</li>
    </ul>
</div>

<div class="container">
   <div class="alert-postion">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
  </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <div class="site-map">
                <ul>
                    <li><a href="#/home">
                        Home
                    </a>
                    </li>
                    <li><a href="#/product/men">
                        Printed T-Shirts for Men
                    </a>
                    </li>
                    <li><a href="#/product/men/1">
                        {{product.name}}
                    </a>
                    </li>
                </ul>
            </div>

            <div class="product-detail">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-sidebar">
                            <div class="thumb-img " ng-repeat="image in product.product.image track by $index" ng-click="otherImage(image)">
                                <img ng-src="{{image | serverimage}}">
                            </div>
                        </div>
                        <div class="full-img">
                            <img ng-src="{{viewImage | serverimage}}">
                            <br>
                        </div>

                        <a fancybox-box href="{{viewImage | serverimage}}"><div class="view-large"></div>
                          </a>
                        <div class="related-view hidden-xs" ng-if="product.relatedproduct!=''">
                            <h4 class="text-upper text-center mt-20">You may also like</h4>
                            <div class="row">
                                <div class="col-sm-4" ng-repeat="related in product.relatedproduct" ui-sref="productview({id: related.id})">
                                    <img ng-src="{{related.image1 | serverimage}}" class="img-responsive">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="right-bar">
                            <h3>{{product.product.name}}</h3>
                            <h3 class="primary">Rs. {{product.product.price}}</h3>
                        </div>
                        <div class="size-chart">
                            <span class="very-bold">Size</span>
                            <button class="btn btn-tiny btn-gray btn-outline">Size Guide</button>

                            <ul class="list-inline text-upper">
                                <li ng-repeat="size in sizes" class="{{size.state}} {{size.style}}" ng-click="onSizeClick(size)">{{size.name}}</li>
<!--                                <li class="canceled">XXL</li>-->
                            </ul>
                        </div>

                        <div class="color-picker" ng-if="product.color">
                            <span class="very-bold">Colour</span>
                            <ul class="list-inline">
                                <li class="{{color.selected}}" ng-repeat="color in product.color" ng-click="onColorClick(color)"><span class="circle {{color.name|lowercase}}"></span>
                                </li>
<!--
                                <li class="selected"><span class="circle white"></span>
                                </li>
-->
                            </ul>
                        </div>

                        <div class="color-picker" ng-if="product.color">
                            <span class="very-bold">Quantity</span>
                            <div class="fynx-select black-select txt-img">
                              <select>
                                <option value="1" selected="">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                              <span class="only-border"></span>
                            </div>

                        </div>

                        <button class="btn btn-huge btn-black btn-outline" ng-click="addToCart()">Add to bag</button>
                        <br>
                        <button class="btn btn-black btn-clear text-upper" ng-click="addToWishlist()">Add to Wishlist</button>

                        <div class="detail-tab">
                            <uib-tabset>
                                <uib-tab heading="Description">
                                    <p>- Slim fit
                                        <br>- Crew neck
                                        <br>- Print at front
                                        <br>- The model is wearing a size L and is 187 cm tall</p>
                                    <h4>Material &amp; Care</h4>
                                    <p>100% Cotton
                                        <br>
                                        <img src="img/material.jpg">
                                        <br>More questions? Please contact us and our great customer services team will answer all your questions.</p>
                                    <p>Alternatively, consult our <span ui-sref="faq">FAQ</span> page</p>
                                </uib-tab>
                                <uib-tab heading="Delivery"></uib-tab>
                                <uib-tab heading="Easy Returns"></uib-tab>
                            </uib-tabset>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
