<div class="container">
  <div class="transaction-view">

    <h1 class="font-smart text-center">
      <img alt="Sorry" src="img/sorry.png" width="12%"/>
      <span class="danger primary-shadow">Oh-No!</span>
      <br>something
      <br>went wrong.
    </h1>

    <div class="text-center">
      <h4 class="strong">Transaction ID:</h4>
      <div class="bg-primary padding-few text-upper">{{order.transactionid}}</div>
      <div class="clearfix"></div>
      <h4 class="strong font-smart">Your order could not be processed</h4>
      <a class="btn btn-primary text-upper" href="#/home">Continue Shopping</a>
    </div>

  </div>
</div>
