<div class="container">
  <div class="transaction-view">
    <div class="min-width">
      <h1 class="font-smart text-center">
        <span class="danger primary-shadow">Thank You</span>
        for shopping
        <img alt="Thanks" src="img/thankyou.png" width="30%"/>
        with us.
      </h1>

      <div class="text-center">
        <div class="pull-right">
          <h4 class="strong">Total Amount:</h4>
          <div class="bg-primary padding-few">Rs. {{order.finalamount}}</div>
        </div>
        <div class="pull-left">
          <h4 class="strong">Transaction ID:</h4>
          <div class="bg-primary padding-few text-upper">{{order.trackingcode}}</div>
        </div>
        <div class="clearfix"></div>
        <h4 class="strong font-smart">Your order has been processed</h4>
        <a class="btn btn-primary text-upper" href="#/home">Continue Shopping</a>
      </div>
    </div>
  </div>
</div>
