<div class="breadcrumb">
    <div class="container relative">
        <h3>MY ACCOUNT</h3>
        <img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div ng-include="template.account"></div>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container min-hght" infinite-scroll='loadProducts()' infinite-scroll-distance="0" infinite-scroll-disabled="fasle">
   <div class="alert-postion">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
  </div>
    <div class="row">
        <div class="col-md-12">
		   <div class="text-center" ng-if="msg != ''">{{msg}}</div>
            <div class="order-table" ng-if="msg == ''">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th>ITEM</th>
                            <th>COLOUR</th>
                            <th>SIZE</th>
                            <th>QUANTITY</th>
                            <th>SUBTOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center text-bold" ng-repeat="mywish in wishlistProduct">
                            <td>
                                <figure>
                                    <img src="{{mywish.designImage | serverimage}}">
                                    <figcaption>{{mywish.name}}</figcaption>
                                </figure>
                            </td>
                            <td>{{mywish.colorname}}</td>
                            <td>{{mywish.sizename}}</td>
                            <td>1</td>
                            <td>
                                <p>{{mywish.price}}</p>
                                <h5 style="color:red;" ng-if="mywish.quantity<=0">Out of stock</h5>
                                <button type="submit" class="btn-blue btn btn-primary" ng-click="addToCart(mywish)" ng-if="mywish.quantity>0">Add to cart</button>
                                <button type="submit" class="btn-blue btn btn-primary mobile-margintop" ng-click="removeFromWishlist(mywish)">remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div class="row mar-btm" ng-if="msg == ''">
        <div class="col-md-offset-8 col-md-4">

            <button type="submit" class="btn-blue btn btn-danger">CONTINUE SHOPPING</button>
            <button type="submit" class="btn-blue btn btn-danger">CHECK OUT</button>
        </div>
    </div>
</div>
