<div class="breadcrumb">
    <div class="container relative">
        <h3>MY ACCOUNT</h3>
        <img src="img/mrfynx2.png" alt="Mr. Fynx" class="mascot">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div ng-include="template.account"></div>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container min-hght">
    <div class="row">
        <div class="col-md-12">
            <div class="order-table">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th>ITEM</th>
                            <th>COLOUR</th>
                            <th>SIZE</th>
                            <th>QUANTITY</th>
                            <th>SUBTOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center text-bold">
                            <td>
                                <figure>
                                    <img src="img/wishlist.jpg">
                                    <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                </figure>
                            </td>
                            <td>White</td>
                            <td>m</td>
                            <td>1</td>
                            <td>
                                <p>699</p>
                                <button type="submit" class="btn-blue custom-btn">Add to cart</button>
                                <button type="submit" class="btn-blue custom-btn">remove</button>
                            </td>
                        </tr>
                        <tr class="text-center text-bold">
                            <td>
                                <figure>
                                    <img src="img/wishlist.jpg">
                                    <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                </figure>
                            </td>
                            <td>White</td>
                            <td>m</td>
                            <td>1</td>
                            <td>
                                <p>699</p>
                                <button type="submit" class="btn-blue custom-btn">Add to cart</button>
                                <button type="submit" class="btn-blue custom-btn">remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div class="row mar-btm">
        <div class="col-md-offset-8 col-md-4">

            <button type="submit" class="btn-blue custom-btn" style="background-color:#fc483f;">CONTINUE SHOPPING</button>
            <button type="submit" class="btn-blue custom-btn" style="background-color:#fc483f;">CHECK OUT</button>
        </div>
    </div>
</div>
