<div class="footer-bg" ng-class="{'black-bg': footerBlack == true}">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-6">
                <ul class="footer-nav">
                    <li><a href="">Customer Support</a>
                    </li>
                    <li><a href="#/contact">Contact Us</a>
                    </li>
                    <li><a href="">Return Policy</a>
                    </li>
                    <li><a href="">Shipping Information</a>
                    </li>
                    <li><a href="">Cancellation</a>
                    </li>
                    <li><a href="">FAQs</a>
                    </li>
                    <li class="mt-10"><a href="tel:022-6770000" class="bold">NEED HELP?<br>022-6770000</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 col-xs-6">
                <ul class="footer-nav">
                    <li><a href="#/product/men">Men</a>
                    </li>
                    <li><a href="">Women</a>
                    </li>
                    <li><a href="">Infants</a>
                    </li>
                    <li><a href="">Pets</a>
                    </li>
                    <li><a href="">Custom</a>
                    </li>
                    <li><a href="">About Us</a>
                    </li>
                    <li><a href="">Careers</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 col-xs-12 text-upper text-center font-smart pointer mobile-margin">
                <span class="big-text">Signup to MYFYNX.COM</span>
                <br>
                <span class="dashed"><span class="white-bg">And enjoy</span></span>
                <br>
                <span class="box-outlined">RS. 500 OFF*</span>
                <br>
                <span class="medium-text">Your first purchase <i class="fa fa-angle-right"></i></span>
            </div>
            <div class="col-sm-3 col-xs-12 text-center">
                <div class="follow-text">FOLLOW MYFYNX.COM</div>
                <div class="social-icon">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
