<div class="footer-bg" ng-class="{'black-bg': footerBlack == true}">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="footer-nav">
                    <li><a href="">CUSTOMER</a>
                    </li>
                    <li><a href="">SUPPORT</a>
                    </li>
                    <li><a href="#/contact">Contact Us</a>
                    </li>
                    <li><a href="">Return Policy</a>
                    </li>
                    <li><a href="">Shipping Information</a>
                    </li>
                    <li><a href="">Cancellation</a>
                    </li>
                    <li><a href="">FAQs</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-2">
                <ul class="footer-nav">
                    <li><a href="">NEED HELP?</a>
                    </li>
                    <li><a href="tel:0124-6770000">0124-6770000</a>
                    </li>
                    <li><a href="#/home">myfynx.com</a>
                    </li>
                    <li><a href="">KOOVS</a>
                    </li>
                    <li><a href="">About Us</a>
                    </li>
                    <li><a href="">Careers</a>
                    </li>
                    <li><a href="">Corporate Site</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 text-upper text-center font-smart">
                <span class="big-text">Signup to MYFYNX.COM</span> 
                <br>
                <span class="dashed"><span class="white-bg">And enjoy</span></span>
                <br>
                <span class="box-outlined">RS. 500 OFF*</span> 
                <br>
                <span class="medium-text">Your first purchase <i class="fa fa-angle-right"></i></span>
            </div>
            <div class="col-md-3 text-center">
                <div class="follow-text">FOLLOW MYFYNX.COM</div>
                <div class="social-icon">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>