<div class="footer-bg" ng-class="{'black-bg': footerBlack == true}">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-6">
                <ul class="footer-nav">
                    <li><a href="">Customer Support</a>
                    </li>
                    <li><a ui-sref="contact">Contact Us</a>
                    </li>
                    <li><a ui-sref="privacy">Privacy Policy</a>
                    </li>
                    <li><a ui-sref="terms-conditions">Terms &amp; Conditions</a>
                    </li>
                    <!-- <li><a href="">Cancellation</a>
                    </li> -->
                    <li><a ui-sref="faq">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 col-xs-6">
                <ul class="footer-nav">
                  <li ng-repeat="menu in navigation" class="{{menu.classis}}">
                    <a href="{{menu.link}}">{{menu.name}}</a>
                  </li>
                    <li><a href="#/about">About Us</a>
                    </li>
                    <li><a href="">Careers</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-xs-6">
                <ul class="footer-nav">
                  <li class="mt-10"><a href="tel:+9102226852820" class="bold">NEED HELP?<br>+91 022-26852820</a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-12 text-upper text-center font-smart pointer mobile-margin">
                <!-- <span class="big-text">Signup to MYFYNX.COM</span>
                <br>
                <span class="dashed"><span class="white-bg">And enjoy</span></span>
                <br>
                <span class="box-outlined">RS. 500 OFF*</span>
                <br>
                <span class="medium-text">Your first purchase <i class="fa fa-angle-right"></i></span> -->
                <img src="img/mobile.png" alt="mobile" class="img-responsive mgin-auto"/>
            </div>
            <div class="col-sm-3 col-xs-12 text-center">
                <div class="follow-text">FOLLOW MYFYNX.COM</div>
                <div class="social-icon">
                    <a href="https://www.facebook.com/MyFynx-401315743385366/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/MyFynx" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/myfynx/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCIo8qm3zCU8JmDZ1UaHhf3Q" target="_blank"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
