<header ng-controller="headerctrl">
  <nav class="navbar navbar-white navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a class="logo" href="#/home">
            <img alt="logo" src="img/logo.png">
          </a>
        </div>
        <div class="col-sm-6">
          <div class="navbar-header">
            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#nav-collapse" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="nav-collapse">
            <div class="template menu text-center" ng-include="template.menu"></div>
          </div>
        </div>
        <div class="col-sm-3 text-center hide-ph" ng-controller="badgeCount">
          <ul class="nav navbar-nav inline">
            <li ng-hide="showLogout">
              <a href="" ng-click="openLogin();">Login</a>
            </li>
            <li ng-show="showLogout">
              <a href="#/profile">{{user.name}}</a>
              <ul class="dropdown-menu">
                <li>
                  <a ng-click="logout();" ng-show="showLogout">Logout</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#/cart">Bag ({{totalcart}})</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
