<header ng-controller="headerctrl">
    <nav class="navbar navbar-white navbar-fixed-top">
        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                    <a class="logo" href="#/home">
                        <img src="img/logo.png" alt="logo">
                    </a>
                </div>
                <div class="col-sm-6">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="nav-collapse">
                        <div ng-include="template.menu" class="template menu text-center"></div>
                    </div>
                </div>
                <div class="col-sm-3 text-center hidden-xs">
                    <ul class="nav navbar-nav inline">
                        <li><a href="" ng-click="openLogin();">Login</a></li>
                        <li><a href="">Cart (0)</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </nav>
</header>
