<ul class="nav navbar-nav">
	<li ng-repeat="menu in navigation" class="{{menu.classis}}">
		<a href="{{menu.link}}">{{menu.name}}</a>
		<ul class="dropdown-menu" ng-if="menu.subnav!='';">
			<li ng-repeat="submenu in menu.subnav">
				<a href="{{submenu.link}}">{{submenu.name}}</a>
			</li>
		</ul>
	</li>
	<li ng-hide="showLogout" class="show-ph">
		<a href="" ng-click="openLogin();">Login</a>
	</li>
	<li ng-show="showLogout" class="show-ph">
		<a href="#/profile">{{user.name}}</a>
		<ul class="dropdown-menu">
			<li>
				<a ng-click="logout();" ng-show="showLogout">Logout</a>
			</li>
		</ul>
	</li>
	<li class="show-ph"><a href="#/cart">Cart (0)</a></li>
</ul>
