<ul class="nav navbar-nav">
	<li ng-repeat="menu in navigation" class="{{menu.classis}}">
		<a href="{{menu.link}}">{{menu.name}}</a>
		<ul class="dropdown-menu" ng-if="menu.subnav!='';">
			<li ng-repeat="submenu in menu.subnav">
				<a href="{{submenu.link}}">{{submenu.name}}</a>
			</li>
		</ul>
	</li>
	<li class="visible-sm-* hidden-md hidden-sm hidden-lg"><a href="" ng-click="openLogin();">Login</a></li>
	<li class="visible-sm-* hidden-md hidden-sm hidden-lg "><a href="">Cart (0)</a></li>
</ul>