<div class="modal-height bg-primary login-tab">
  <uib-tabset justified="true">

    <uib-tab heading="Sign Up">
      <div class="content-view">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" placeholder="First Name" type="text">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" placeholder="Last Name" type="text">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" placeholder="Email" type="email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" placeholder="Password" type="password">
              </div>
            </div>
          </div>
          <div class="checkbox mb-10">
            <label>
              <input type="checkbox">
              I Accept the Terms and Conditions and Privacy Policy of the website
            </label>
          </div>
          <div class="text-center">
            <button class="btn btn-danger btn-strong font-smart">Sign Up</button>
          </div>
        </form>
        <div class="text-center">
          <h3 class="light">OR</h3>

          <p>
            SIGN UP VIA
          </p>

          <div class="button-set">
            <button class="btn btn-facebook">
              <i class="fa fa-facebook"></i>
            </button>
            <button class="btn btn-google">
              <i class="fa fa-google-plus"></i>
            </button>
            <button class="btn btn-twitter">
              <i class="fa fa-twitter"></i>
            </button>
          </div>
        </div>
      </div>
    </uib-tab>

    <uib-tab heading="Sign In">
      <div class="content-view">
        <form>
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="form-group">
                <input class="form-control" placeholder="Email" type="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="form-group">
                <input class="form-control" placeholder="Password" type="password">
              </div>
            </div>
          </div>
          <div class="text-center">
            <p>
              <a href="#">Forgot password?</a>
            </p>
            <button class="btn btn-danger btn-strong font-smart">LOGIN</button>
          </div>
        </form>
        <div class="text-center">
          <h3 class="light">OR</h3>
          <p>
            SIGN UP VIA
          </p>

          <div class="button-set">
            <button class="btn btn-facebook">
              <i class="fa fa-facebook"></i>
            </button>
            <button class="btn btn-google">
              <i class="fa fa-google-plus"></i>
            </button>
            <button class="btn btn-twitter">
              <i class="fa fa-twitter"></i>
            </button>
          </div>
        </div>
      </div>
    </uib-tab>

  </ui-tabset>

  <img src="img/mrfynx.png" class="fixed-down" />

</div>
