<div class="modal-heights bg-imgupload login-tab" ng-controller="CustomCreateCtrl">
  <div class="row">
    <div class="close-button text-center">
      <span><i class="fa fa-close"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="front">
        <img ng-src="{{filter.image.image | serverimage}}" class="img-responsive">
      </div>
    </div>
    <div class="col-md-6">
      <div class="back">
        <img ng-src="{{filter.image.image | serverimage}}" class="img-responsive">
      </div>
    </div>
  </div>
</div>
