<div class="modal-heights bg-imgupload login-tab" ng-controller="CustomCreateCtrl">
  <div class="row">
    <div class="close-button pull-right" ng-click="closeandshowsize();">
      <img src="img/close.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="front">
        <img ng-src="{{filter.image.image | serverimage}}" class="img-responsive">
      </div>
    </div>
    <div class="col-md-6">
      <div class="back">
        <img ng-src="{{filter.image.image | serverimage}}" class="img-responsive">
      </div>
    </div>
  </div>
</div>
